{
  "openWithInventory" : true,

  "gui" : {
    "background" : {
      "zlevel" : -1,
      "type" : "background",
      "fileHeader" : "/interface/scripted/mechassembly/header.png",
      "fileBody" : "/interface/scripted/mechassembly/body.png",
      "fileFooter" : "/interface/scripted/mechassembly/footer.png"
    },

    "windowtitle" : {
      "type" : "title",
      "title" : "Mech Assembly Station",
      "subtitle" : "^#b9b5b2;Equip and customise your personal mech!",
      "icon" : {
        "type" : "image",
        "file" : "/interface/scripted/mechassembly/icon.png",
        "zlevel" : -1
      }
    },

    "imgDisabledOverlay" : {
      "type" : "image",
      "file" : "/interface/scripted/mechassembly/disabledoverlay.png",
      "position" : [3, 41],
      "zlevel" : 10,
      "mouseTransparent" : false
    },

    "imgWireframe" : {
      "type" : "image",
      "file" : "/interface/scripted/mechassembly/mech_assembly.png",
      "position" : [33, 79],
      "zlevel" : 0
    },

    "imgMissing_body" : {
      "type" : "image",
      "file" : "/interface/scripted/mechassembly/missing_body.png",
      "position" : [33, 79],
      "zlevel" : 1
    },
    "imgMissing_booster" : {
      "type" : "image",
      "file" : "/interface/scripted/mechassembly/missing_booster.png",
      "position" : [33, 79],
      "zlevel" : 1
    },
    "imgMissing_leftArm" : {
      "type" : "image",
      "file" : "/interface/scripted/mechassembly/missing_larm.png",
      "position" : [33, 79],
      "zlevel" : 1
    },
    "imgMissing_rightArm" : {
      "type" : "image",
      "file" : "/interface/scripted/mechassembly/missing_rarm.png",
      "position" : [33, 79],
      "zlevel" : 1
    },
    "imgMissing_legs" : {
      "type" : "image",
      "file" : "/interface/scripted/mechassembly/missing_legs.png",
      "position" : [33, 79],
      "zlevel" : 1
    },

    "imgIncomplete" : {
      "type" : "image",
      "file" : "/interface/scripted/mechassembly/status_red.png",
      "position" : [78, 27],
      "zlevel" : 1
    },
    "lblStatus" : {
      "type" : "label",
      "zlevel" : 2,
      "position" : [144, 35],
      "hAnchor" : "mid",
      "vAnchor" : "mid",
      "value" : ""
    },

    "cvsPreview" : {
      "type" : "canvas",
      "rect" : [168, 70, 282, 150],
      "zlevel" : 1,
      "captureMouseEvents" : false,
      "captureKeyboardEvents" : false
    },

    "lblSlot_body" : {
      "type" : "label",
      "zlevel" : 2,
      "position" : [31, 132],
      "hAnchor" : "right",
      "vAnchor" : "mid",
      "value" : "Body",
	  "fontSize" : 7,
      "color" : "gray"		  
    },
    "lblSlot_leftArm" : {
      "type" : "label",
      "zlevel" : 2,
      "position" : [31, 110],
      "hAnchor" : "right",
      "vAnchor" : "mid",
      "value" : "L Arm",
	  "fontSize" : 7,
      "color" : "gray"		  
    },
    "lblSlot_legs" : {
      "type" : "label",
      "zlevel" : 2,
      "position" : [31, 88],
      "hAnchor" : "right",
      "vAnchor" : "mid",
      "value" : "Legs",
	  "fontSize" : 7,
      "color" : "gray"		  
    },

    "itemSlot_body" : {
      "type" : "itemslot",
      "zlevel" : 2,
      "position" : [33, 123],
      "callback" : "swapItem",
      "rightClickCallback" : "null"
    },
    "itemSlot_leftArm" : {
      "type" : "itemslot",
      "zlevel" : 2,
      "position" : [33, 101],
      "callback" : "swapItem",
      "rightClickCallback" : "null"
    },
    "itemSlot_legs" : {
      "type" : "itemslot",
      "zlevel" : 2,
      "position" : [33, 79],
      "callback" : "swapItem",
      "rightClickCallback" : "null"
    },

    "itemSlot_booster" : {
      "type" : "itemslot",
      "zlevel" : 2,
      "position" : [118, 123],
      "callback" : "swapItem",
      "rightClickCallback" : "null"
    },
    "itemSlot_rightArm" : {
      "type" : "itemslot",
      "zlevel" : 2,
      "position" : [118, 101],
      "callback" : "swapItem",
      "rightClickCallback" : "null"
    },
    "itemSlot_horn" : {
      "type" : "itemslot",
      "zlevel" : 2,
      "position" : [118, 79],
      "callback" : "swapItem",
      "rightClickCallback" : "null"
    },

    "lblSlot_booster" : {
      "type" : "label",
      "zlevel" : 2,
      "position" : [139, 132],
      "hAnchor" : "left",
      "vAnchor" : "mid",
      "value" : "Booster",
	  "fontSize" : 7,
      "color" : "gray"		  
    },
    "lblSlot_rightArm" : {
      "type" : "label",
      "zlevel" : 2,
      "position" : [139, 110],
      "hAnchor" : "left",
      "vAnchor" : "mid",
      "value" : "R Arm",
	  "fontSize" : 7,
      "color" : "gray"		  
    },
    "lblSlot_horn" : {
      "type" : "label",
      "zlevel" : 2,
      "position" : [139, 88],
      "hAnchor" : "left",
      "vAnchor" : "mid",
      "value" : "Horn",
	  "fontSize" : 7,
      "color" : "gray"	  
    },

    "lblPrimaryColor" : {
      "type" : "label",
      "zlevel" : 2,
      "position" : [30, 67],
      "hAnchor" : "left",
      "vAnchor" : "mid",
      "value" : "Colour 1",
	  "fontSize" : 7,
      "color" : "gray"	  
    },
    "lblSecondaryColor" : {
      "type" : "label",
      "zlevel" : 2,
      "position" : [30, 53],
      "hAnchor" : "left",
      "vAnchor" : "mid",
      "value" : "Colour 2",
	  "fontSize" : 7,
      "color" : "gray"	  
    },

    "btnPrevPrimaryColor" : {
      "type" : "button",
      "base" : "/interface/scripted/mechassembly/pickleft.png",
      "hover" : "/interface/scripted/mechassembly/pickleftover.png",
      "zlevel" : 3,
      "position" : [65, 63],
      "caption" : "",
      "callback" : "prevPrimaryColor"
    },
    "btnNextPrimaryColor" : {
      "type" : "button",
      "base" : "/interface/scripted/mechassembly/pickright.png",
      "hover" : "/interface/scripted/mechassembly/pickrightover.png",
      "zlevel" : 3,
      "position" : [96, 63],
      "caption" : "",
      "callback" : "nextPrimaryColor"
    },

    "btnPrevSecondaryColor" : {
      "type" : "button",
      "base" : "/interface/scripted/mechassembly/pickleft.png",
      "hover" : "/interface/scripted/mechassembly/pickleftover.png",
      "zlevel" : 3,
      "position" : [65, 49],
      "caption" : "",
      "callback" : "prevSecondaryColor"
    },
    "btnNextSecondaryColor" : {
      "type" : "button",
      "base" : "/interface/scripted/mechassembly/pickright.png",
      "hover" : "/interface/scripted/mechassembly/pickrightover.png",
      "zlevel" : 3,
      "position" : [96, 49],
      "caption" : "",
      "callback" : "nextSecondaryColor"
    },

    "imgPrimaryColorPreview" : {
      "type" : "image",
      "file" : "/interface/scripted/mechassembly/paintbar_default.png",
      "zlevel" : 3,
      "position" : [75, 63]
    },
    "imgSecondaryColorPreview" : {
      "type" : "image",
      "file" : "/interface/scripted/mechassembly/paintbar_default.png",
      "zlevel" : 3,
      "position" : [75, 49]
    },

    "imgEnergyBar" : {
      "type" : "image",
      "file" : "/interface/scripted/mechassembly/energy_bar.png",
      "zlevel" : 1,
      "position" : [194, 61]
    },
    "lblEnergy" : {
      "type" : "label",
      "zlevel" : 2,
      "position" : [231, 65],
      "hAnchor" : "mid",
      "vAnchor" : "mid",
      "value" : ""
    },
    "lblDrain" : {
      "type" : "label",
      "zlevel" : 2,
      "position" : [231, 54],
      "hAnchor" : "mid",
      "vAnchor" : "mid",
      "value" : ""
    },

    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "callback" : "close",
      "position" : [267, 160]
    }
  },

  "scriptWidgetCallbacks" : [
    "swapItem",
    "nextPrimaryColor",
    "prevPrimaryColor",
    "nextSecondaryColor",
    "prevSecondaryColor"
  ],

  "scripts" : ["/interface/scripted/mechassembly/mechassemblygui.lua"],
  "scriptDelta" : 1,

  "imageBasePath" : "/interface/scripted/mechassembly/",

  "disabledText" : "^red;Unauthorized User",
  "incompleteText" : "^red;Configuration Incomplete",
  "completeText" : "^cyan;Ready to Deploy!",

  "energyFormat" : "Energy: %d MJ",
  "drainFormat" : "^gray;Usage: %.02f MJ/s"
}
