{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/chests/chestheaderbase.png",
      "fileBody" : "/interface/chests/chest200body2.png",
      "fileFooter" : "/interface/chests/chest200footer.png?multiply=00000000"
    },
    "backgroundHeader" : {
      "type" : "image",
      "file" : "/interface/chests/chest200header.png",
      "position" : [0, 249],
      "visible" : true,
      "zlevel" : -10
    },
    "backgroundBody" : {
      "type" : "image",
      "file" : "/interface/chests/chest200body.png",
      "position" : [0, 25],
      "visible" : true,
      "zlevel" : -10
    },
    "backgroundFooter" : {
      "type" : "image",
      "file" : "/interface/chests/chest200footer.png",
      "position" : [0, 0],
      "visible" : true,
      "zlevel" : -10
    },
    "title" : {
      "type" : "label",
      "value" : "",
      "hAnchor" : "left",
      "position" : [31, 262],
      "zlevel" : -10
    },
    "subTitle" : {
      "type" : "label",
      "value" : "^shadow;^gray;Storage",
      "hAnchor" : "left",
      "position" : [31, 252],
      "zlevel" : -10
    },
    "clear" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "press" : "/interface/buttonhover.png",
      "caption" : "Take all",
      "position" : [169, 26]
    },
    "searchFieldImage" : {
      "type" : "image",
      "file" : "/interface/chests/searchfield2.png",
      "position" : [136, 11],
      "visible" : false,
			"zlevel" : -10
    },
    "searchfieldOverlay" : {
      "type" : "image",
      "file" : "/interface/chests/searchfieldOverlay.png",
      "position" : [136, 11],
      "visible" : false,
			"zlevel" : -5
    },
    "searchField" : {
      "type" : "textbox",
      "position" : [150, 13],
      "hint" : "Search",
      "maxWidth" : 95,
      "escapeKey" : "searchAbort",
      "enterKey" : "searchEnter",
      "callback" : "searchCallback",
      "focus" : false,
      "visible" : false
    },
    "searchOverlay1" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [6, 215], "visible" : false, "zlevel" : 1 },
    "searchOverlay2" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [25, 215], "visible" : false, "zlevel" : 1 },
    "searchOverlay3" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [44, 215], "visible" : false, "zlevel" : 1 },
    "searchOverlay4" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [63, 215], "visible" : false, "zlevel" : 1 },
    "searchOverlay5" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [82, 215], "visible" : false, "zlevel" : 1 },
    "searchOverlay6" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [101, 215], "visible" : false, "zlevel" : 1 },
    "searchOverlay7" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [120, 215], "visible" : false, "zlevel" : 1 },
    "searchOverlay8" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [139, 215], "visible" : false, "zlevel" : 1 },
    "searchOverlay9" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [158, 215], "visible" : false, "zlevel" : 1 },
    "searchOverlay10" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [177, 215], "visible" : false, "zlevel" : 1 },
    "searchOverlay11" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [196, 215], "visible" : false, "zlevel" : 1 },
    "searchOverlay12" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [215, 215], "visible" : false, "zlevel" : 1 },
    "searchOverlay13" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [234, 215], "visible" : false, "zlevel" : 1 },
    "searchOverlay14" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [253, 215], "visible" : false, "zlevel" : 1 },
    "searchOverlay15" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [272, 215], "visible" : false, "zlevel" : 1 },
    "searchOverlay16" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [291, 215], "visible" : false, "zlevel" : 1 },
    "searchOverlay17" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [310, 215], "visible" : false, "zlevel" : 1 },
    "searchOverlay18" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [329, 215], "visible" : false, "zlevel" : 1 },
    "searchOverlay19" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [348, 215], "visible" : false, "zlevel" : 1 },
    "searchOverlay20" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [367, 215], "visible" : false, "zlevel" : 1 },
    "searchOverlay21" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [6, 196], "visible" : false, "zlevel" : 1 },
    "searchOverlay22" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [25, 196], "visible" : false, "zlevel" : 1 },
    "searchOverlay23" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [44, 196], "visible" : false, "zlevel" : 1 },
    "searchOverlay24" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [63, 196], "visible" : false, "zlevel" : 1 },
    "searchOverlay25" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [82, 196], "visible" : false, "zlevel" : 1 },
    "searchOverlay26" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [101, 196], "visible" : false, "zlevel" : 1 },
    "searchOverlay27" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [120, 196], "visible" : false, "zlevel" : 1 },
    "searchOverlay28" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [139, 196], "visible" : false, "zlevel" : 1 },
    "searchOverlay29" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [158, 196], "visible" : false, "zlevel" : 1 },
    "searchOverlay30" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [177, 196], "visible" : false, "zlevel" : 1 },
    "searchOverlay31" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [196, 196], "visible" : false, "zlevel" : 1 },
    "searchOverlay32" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [215, 196], "visible" : false, "zlevel" : 1 },
    "searchOverlay33" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [234, 196], "visible" : false, "zlevel" : 1 },
    "searchOverlay34" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [253, 196], "visible" : false, "zlevel" : 1 },
    "searchOverlay35" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [272, 196], "visible" : false, "zlevel" : 1 },
    "searchOverlay36" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [291, 196], "visible" : false, "zlevel" : 1 },
    "searchOverlay37" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [310, 196], "visible" : false, "zlevel" : 1 },
    "searchOverlay38" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [329, 196], "visible" : false, "zlevel" : 1 },
    "searchOverlay39" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [348, 196], "visible" : false, "zlevel" : 1 },
    "searchOverlay40" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [367, 196], "visible" : false, "zlevel" : 1 },
    "searchOverlay41" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [6, 177], "visible" : false, "zlevel" : 1 },
    "searchOverlay42" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [25, 177], "visible" : false, "zlevel" : 1 },
    "searchOverlay43" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [44, 177], "visible" : false, "zlevel" : 1 },
    "searchOverlay44" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [63, 177], "visible" : false, "zlevel" : 1 },
    "searchOverlay45" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [82, 177], "visible" : false, "zlevel" : 1 },
    "searchOverlay46" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [101, 177], "visible" : false, "zlevel" : 1 },
    "searchOverlay47" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [120, 177], "visible" : false, "zlevel" : 1 },
    "searchOverlay48" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [139, 177], "visible" : false, "zlevel" : 1 },
    "searchOverlay49" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [158, 177], "visible" : false, "zlevel" : 1 },
    "searchOverlay50" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [177, 177], "visible" : false, "zlevel" : 1 },
    "searchOverlay51" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [196, 177], "visible" : false, "zlevel" : 1 },
    "searchOverlay52" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [215, 177], "visible" : false, "zlevel" : 1 },
    "searchOverlay53" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [234, 177], "visible" : false, "zlevel" : 1 },
    "searchOverlay54" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [253, 177], "visible" : false, "zlevel" : 1 },
    "searchOverlay55" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [272, 177], "visible" : false, "zlevel" : 1 },
    "searchOverlay56" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [291, 177], "visible" : false, "zlevel" : 1 },
    "searchOverlay57" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [310, 177], "visible" : false, "zlevel" : 1 },
    "searchOverlay58" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [329, 177], "visible" : false, "zlevel" : 1 },
    "searchOverlay59" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [348, 177], "visible" : false, "zlevel" : 1 },
    "searchOverlay60" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [367, 177], "visible" : false, "zlevel" : 1 },
    "searchOverlay61" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [6, 158], "visible" : false, "zlevel" : 1 },
    "searchOverlay62" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [25, 158], "visible" : false, "zlevel" : 1 },
    "searchOverlay63" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [44, 158], "visible" : false, "zlevel" : 1 },
    "searchOverlay64" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [63, 158], "visible" : false, "zlevel" : 1 },
    "searchOverlay65" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [82, 158], "visible" : false, "zlevel" : 1 },
    "searchOverlay66" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [101, 158], "visible" : false, "zlevel" : 1 },
    "searchOverlay67" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [120, 158], "visible" : false, "zlevel" : 1 },
    "searchOverlay68" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [139, 158], "visible" : false, "zlevel" : 1 },
    "searchOverlay69" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [158, 158], "visible" : false, "zlevel" : 1 },
    "searchOverlay70" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [177, 158], "visible" : false, "zlevel" : 1 },
    "searchOverlay71" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [196, 158], "visible" : false, "zlevel" : 1 },
    "searchOverlay72" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [215, 158], "visible" : false, "zlevel" : 1 },
    "searchOverlay73" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [234, 158], "visible" : false, "zlevel" : 1 },
    "searchOverlay74" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [253, 158], "visible" : false, "zlevel" : 1 },
    "searchOverlay75" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [272, 158], "visible" : false, "zlevel" : 1 },
    "searchOverlay76" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [291, 158], "visible" : false, "zlevel" : 1 },
    "searchOverlay77" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [310, 158], "visible" : false, "zlevel" : 1 },
    "searchOverlay78" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [329, 158], "visible" : false, "zlevel" : 1 },
    "searchOverlay79" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [348, 158], "visible" : false, "zlevel" : 1 },
    "searchOverlay80" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [367, 158], "visible" : false, "zlevel" : 1 },
    "searchOverlay81" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [6, 139], "visible" : false, "zlevel" : 1 },
    "searchOverlay82" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [25, 139], "visible" : false, "zlevel" : 1 },
    "searchOverlay83" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [44, 139], "visible" : false, "zlevel" : 1 },
    "searchOverlay84" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [63, 139], "visible" : false, "zlevel" : 1 },
    "searchOverlay85" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [82, 139], "visible" : false, "zlevel" : 1 },
    "searchOverlay86" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [101, 139], "visible" : false, "zlevel" : 1 },
    "searchOverlay87" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [120, 139], "visible" : false, "zlevel" : 1 },
    "searchOverlay88" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [139, 139], "visible" : false, "zlevel" : 1 },
    "searchOverlay89" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [158, 139], "visible" : false, "zlevel" : 1 },
    "searchOverlay90" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [177, 139], "visible" : false, "zlevel" : 1 },
    "searchOverlay91" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [196, 139], "visible" : false, "zlevel" : 1 },
    "searchOverlay92" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [215, 139], "visible" : false, "zlevel" : 1 },
    "searchOverlay93" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [234, 139], "visible" : false, "zlevel" : 1 },
    "searchOverlay94" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [253, 139], "visible" : false, "zlevel" : 1 },
    "searchOverlay95" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [272, 139], "visible" : false, "zlevel" : 1 },
    "searchOverlay96" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [291, 139], "visible" : false, "zlevel" : 1 },
    "searchOverlay97" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [310, 139], "visible" : false, "zlevel" : 1 },
    "searchOverlay98" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [329, 139], "visible" : false, "zlevel" : 1 },
    "searchOverlay99" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [348, 139], "visible" : false, "zlevel" : 1 },
    "searchOverlay100" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [367, 139], "visible" : false, "zlevel" : 1 },
    "searchOverlay101" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [6, 120], "visible" : false, "zlevel" : 1 },
    "searchOverlay102" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [25, 120], "visible" : false, "zlevel" : 1 },
    "searchOverlay103" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [44, 120], "visible" : false, "zlevel" : 1 },
    "searchOverlay104" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [63, 120], "visible" : false, "zlevel" : 1 },
    "searchOverlay105" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [82, 120], "visible" : false, "zlevel" : 1 },
    "searchOverlay106" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [101, 120], "visible" : false, "zlevel" : 1 },
    "searchOverlay107" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [120, 120], "visible" : false, "zlevel" : 1 },
    "searchOverlay108" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [139, 120], "visible" : false, "zlevel" : 1 },
    "searchOverlay109" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [158, 120], "visible" : false, "zlevel" : 1 },
    "searchOverlay110" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [177, 120], "visible" : false, "zlevel" : 1 },
    "searchOverlay111" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [196, 120], "visible" : false, "zlevel" : 1 },
    "searchOverlay112" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [215, 120], "visible" : false, "zlevel" : 1 },
    "searchOverlay113" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [234, 120], "visible" : false, "zlevel" : 1 },
    "searchOverlay114" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [253, 120], "visible" : false, "zlevel" : 1 },
    "searchOverlay115" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [272, 120], "visible" : false, "zlevel" : 1 },
    "searchOverlay116" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [291, 120], "visible" : false, "zlevel" : 1 },
    "searchOverlay117" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [310, 120], "visible" : false, "zlevel" : 1 },
    "searchOverlay118" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [329, 120], "visible" : false, "zlevel" : 1 },
    "searchOverlay119" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [348, 120], "visible" : false, "zlevel" : 1 },
    "searchOverlay120" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [367, 120], "visible" : false, "zlevel" : 1 },
    "searchOverlay121" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [6, 101], "visible" : false, "zlevel" : 1 },
    "searchOverlay122" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [25, 101], "visible" : false, "zlevel" : 1 },
    "searchOverlay123" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [44, 101], "visible" : false, "zlevel" : 1 },
    "searchOverlay124" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [63, 101], "visible" : false, "zlevel" : 1 },
    "searchOverlay125" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [82, 101], "visible" : false, "zlevel" : 1 },
    "searchOverlay126" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [101, 101], "visible" : false, "zlevel" : 1 },
    "searchOverlay127" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [120, 101], "visible" : false, "zlevel" : 1 },
    "searchOverlay128" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [139, 101], "visible" : false, "zlevel" : 1 },
    "searchOverlay129" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [158, 101], "visible" : false, "zlevel" : 1 },
    "searchOverlay130" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [177, 101], "visible" : false, "zlevel" : 1 },
    "searchOverlay131" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [196, 101], "visible" : false, "zlevel" : 1 },
    "searchOverlay132" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [215, 101], "visible" : false, "zlevel" : 1 },
    "searchOverlay133" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [234, 101], "visible" : false, "zlevel" : 1 },
    "searchOverlay134" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [253, 101], "visible" : false, "zlevel" : 1 },
    "searchOverlay135" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [272, 101], "visible" : false, "zlevel" : 1 },
    "searchOverlay136" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [291, 101], "visible" : false, "zlevel" : 1 },
    "searchOverlay137" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [310, 101], "visible" : false, "zlevel" : 1 },
    "searchOverlay138" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [329, 101], "visible" : false, "zlevel" : 1 },
    "searchOverlay139" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [348, 101], "visible" : false, "zlevel" : 1 },
    "searchOverlay140" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [367, 101], "visible" : false, "zlevel" : 1 },
    "searchOverlay141" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [6, 82], "visible" : false, "zlevel" : 1 },
    "searchOverlay142" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [25, 82], "visible" : false, "zlevel" : 1 },
    "searchOverlay143" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [44, 82], "visible" : false, "zlevel" : 1 },
    "searchOverlay144" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [63, 82], "visible" : false, "zlevel" : 1 },
    "searchOverlay145" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [82, 82], "visible" : false, "zlevel" : 1 },
    "searchOverlay146" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [101, 82], "visible" : false, "zlevel" : 1 },
    "searchOverlay147" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [120, 82], "visible" : false, "zlevel" : 1 },
    "searchOverlay148" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [139, 82], "visible" : false, "zlevel" : 1 },
    "searchOverlay149" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [158, 82], "visible" : false, "zlevel" : 1 },
    "searchOverlay150" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [177, 82], "visible" : false, "zlevel" : 1 },
    "searchOverlay151" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [196, 82], "visible" : false, "zlevel" : 1 },
    "searchOverlay152" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [215, 82], "visible" : false, "zlevel" : 1 },
    "searchOverlay153" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [234, 82], "visible" : false, "zlevel" : 1 },
    "searchOverlay154" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [253, 82], "visible" : false, "zlevel" : 1 },
    "searchOverlay155" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [272, 82], "visible" : false, "zlevel" : 1 },
    "searchOverlay156" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [291, 82], "visible" : false, "zlevel" : 1 },
    "searchOverlay157" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [310, 82], "visible" : false, "zlevel" : 1 },
    "searchOverlay158" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [329, 82], "visible" : false, "zlevel" : 1 },
    "searchOverlay159" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [348, 82], "visible" : false, "zlevel" : 1 },
    "searchOverlay160" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [367, 82], "visible" : false, "zlevel" : 1 },
    "searchOverlay161" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [6, 63], "visible" : false, "zlevel" : 1 },
    "searchOverlay162" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [25, 63], "visible" : false, "zlevel" : 1 },
    "searchOverlay163" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [44, 63], "visible" : false, "zlevel" : 1 },
    "searchOverlay164" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [63, 63], "visible" : false, "zlevel" : 1 },
    "searchOverlay165" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [82, 63], "visible" : false, "zlevel" : 1 },
    "searchOverlay166" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [101, 63], "visible" : false, "zlevel" : 1 },
    "searchOverlay167" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [120, 63], "visible" : false, "zlevel" : 1 },
    "searchOverlay168" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [139, 63], "visible" : false, "zlevel" : 1 },
    "searchOverlay169" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [158, 63], "visible" : false, "zlevel" : 1 },
    "searchOverlay170" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [177, 63], "visible" : false, "zlevel" : 1 },
    "searchOverlay171" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [196, 63], "visible" : false, "zlevel" : 1 },
    "searchOverlay172" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [215, 63], "visible" : false, "zlevel" : 1 },
    "searchOverlay173" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [234, 63], "visible" : false, "zlevel" : 1 },
    "searchOverlay174" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [253, 63], "visible" : false, "zlevel" : 1 },
    "searchOverlay175" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [272, 63], "visible" : false, "zlevel" : 1 },
    "searchOverlay176" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [291, 63], "visible" : false, "zlevel" : 1 },
    "searchOverlay177" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [310, 63], "visible" : false, "zlevel" : 1 },
    "searchOverlay178" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [329, 63], "visible" : false, "zlevel" : 1 },
    "searchOverlay179" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [348, 63], "visible" : false, "zlevel" : 1 },
    "searchOverlay180" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [367, 63], "visible" : false, "zlevel" : 1 },
    "searchOverlay181" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [6, 44], "visible" : false, "zlevel" : 1 },
    "searchOverlay182" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [25, 44], "visible" : false, "zlevel" : 1 },
    "searchOverlay183" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [44, 44], "visible" : false, "zlevel" : 1 },
    "searchOverlay184" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [63, 44], "visible" : false, "zlevel" : 1 },
    "searchOverlay185" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [82, 44], "visible" : false, "zlevel" : 1 },
    "searchOverlay186" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [101, 44], "visible" : false, "zlevel" : 1 },
    "searchOverlay187" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [120, 44], "visible" : false, "zlevel" : 1 },
    "searchOverlay188" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [139, 44], "visible" : false, "zlevel" : 1 },
    "searchOverlay189" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [158, 44], "visible" : false, "zlevel" : 1 },
    "searchOverlay190" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [177, 44], "visible" : false, "zlevel" : 1 },
    "searchOverlay191" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [196, 44], "visible" : false, "zlevel" : 1 },
    "searchOverlay192" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [215, 44], "visible" : false, "zlevel" : 1 },
    "searchOverlay193" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [234, 44], "visible" : false, "zlevel" : 1 },
    "searchOverlay194" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [253, 44], "visible" : false, "zlevel" : 1 },
    "searchOverlay195" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [272, 44], "visible" : false, "zlevel" : 1 },
    "searchOverlay196" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [291, 44], "visible" : false, "zlevel" : 1 },
    "searchOverlay197" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [310, 44], "visible" : false, "zlevel" : 1 },
    "searchOverlay198" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [329, 44], "visible" : false, "zlevel" : 1 },
    "searchOverlay199" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [348, 44], "visible" : false, "zlevel" : 1 },
    "searchOverlay200" : { "type" : "image", "file" : "/interface/chests/searchoverlay.png", "position" : [367, 44], "visible" : false, "zlevel" : 1 },
    "itemGrid" : {
	  "type" : "itemgrid",
      "position" : [7, 45],
      "dimensions" : [20, 10],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "count" : {
      "type" : "label",
      "value" : "<slots> SLOTS",
      "hAnchor" : "mid",
      "position" : [196, 239]
    },
    "overlay" : {
      "type" : "image",
      "file" : "/interface/chests/chest200shine.png",
      "position" : [0, 0]
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "press" : "/interface/xpress.png",
      "position" : [374, 255]
    },
    "transferInventoryItems" : {
      "type" : "button",
      "base" : "/interface/chests/transferInventoryItems.png",
      "hover" : "/interface/chests/transferInventoryItemshover.png",
      "visible" : false,
      "position" : [10, 11]
    },
    "sortContainer" : {
      "type" : "button",
      "base" : "/interface/chests/sort.png",
      "hover" : "/interface/chests/sorthover.png",
      "callback" : "sortContainerCallback",
      "visible" : false,
      "position" : [374, 11]
    },
    "sortoptionstab" : {
      "type" : "image",
      "file" : "/interface/chests/sortoptionstab.png",
      "position" : [334, -1],
      "visible" : false,
      "zlevel" : -9
    },
    "sortoptionsdirection" : {
      "type" : "button",
      "base" : "/interface/chests/sortoptionsdescending.png",
      "hover" : "/interface/chests/sortoptionsdescendinghover.png",
      "baseImageChecked" : "/interface/chests/sortoptionsascending.png",
      "hoverImageChecked" : "/interface/chests/sortoptionsascendinghover.png",
      "checkable" : true,
      "checked" : false,
      "visible" : false,
      "position" : [343, 3],
      "zlevel" : 10
    },
    "sortoptionsbyname" : {
      "type" : "button",
      "base" : "/interface/chests/sortoptionsbyname.png",
      "hover" : "/interface/chests/sortoptionsbynamehover.png",
      "position" : [353, 2],
      "visible" : false,
      "zlevel" : 10
    },
    "sortoptionsbytype" : {
      "type" : "button",
      "base" : "/interface/chests/sortoptionsbytype.png",
      "hover" : "/interface/chests/sortoptionsbytypehover.png",
      "position" : [353, 2],
      "visible" : false,
      "zlevel" : 10
    },
    "sortoptionsbyrarity" : {
      "type" : "button",
      "base" : "/interface/chests/sortoptionsbyrarity.png",
      "hover" : "/interface/chests/sortoptionsbyrarityhover.png",
      "position" : [353, 2],
      "visible" : false,
      "zlevel" : 10
    },
    "sortoptionsbyvalue" : {
      "type" : "button",
      "base" : "/interface/chests/sortoptionsbyvalue.png",
      "hover" : "/interface/chests/sortoptionsbyvaluehover.png",
      "position" : [353, 2],
      "visible" : false,
      "zlevel" : 10
    },
    "optionsBackground" : {
      "type" : "image",
      "file" : "/interface/chests/chest200options.png",
      "position" : [4, 25],
      "visible" : false,
      "zlevel" : 10
    },
    "optionsButton" : {
      "type" : "button",
      "base" : "/interface/chests/options.png",
      "hover" : "/interface/chests/optionschecked.png",
      "baseImageChecked" : "/interface/chests/optionschecked.png",
      "hoverImageChecked" : "/interface/chests/options.png",
      "checkable" : true,
      "checked" : false,
      "visible" : false,
      "position" : [11, 240],
      "zlevel" : 11
    },
    "optionsLabel" : {
      "type" : "label",
      "value" : "OPTIONS",
      "hAnchor" : "mid",
      "position" : [196, 239],
      "visible" : false,
      "zlevel" : 11
    },
    "optionsSave" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "position" : [211, 26],
      "visible" : false,
      "zlevel" : 11,
      "caption" : "Save"
    },
    "optionsReset" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "position" : [127, 26],
      "visible" : false,
      "zlevel" : 11,
      "caption" : "Reset"
    },
    "optionsOption1Label" : {
      "type" : "label",
      "value" : "+ Name:",
      "hAnchor" : "left",
      "position" : [124, 207],
      "visible" : false,
      "zlevel" : 11
    },
    "renameContainer" : {
      "type" : "textbox",
      "position" : [201, 207],
      "hint" : "Rename",
      "maxWidth" : 65,
      "escapeKey" : "renameContainerAbort",
      "enterKey" : "renameContainer",
      "callback" : "null",
      "focus" : false,
      "visible" : false,
      "zlevel" : 11
    },
    "renameContainerImage" : {
      "type" : "image",
      "file" : "/interface/chests/renameContainerImage.png",
      "position" : [197, 207],
      "visible" : false,
      "zlevel" : 11
    },
    "fontColors" : {
      "type" : "radioGroup",
      "toggleMode" : false,
      "visible" : false,
      "zlevel" : 12,
      "buttons" : [
        {
          "id" : 1,
          "selected" : true,
          "position" : [199, 198],
          "pressedOffset" : [0, 0],
          "baseImage" : "/interface/chests/fontwhite.png",
          "hoverImage" : "/interface/chests/fontwhitehover.png",
          "baseImageChecked" : "/interface/chests/fontwhitechecked.png",
          "hoverImageChecked" : "/interface/chests/fontwhitecheckedhover.png"
        },
        {
          "id" : 2,
          "position" : [211, 198],
          "pressedOffset" : [0, 0],
          "baseImage" : "/interface/chests/fontred.png",
          "hoverImage" : "/interface/chests/fontredhover.png",
          "baseImageChecked" : "/interface/chests/fontredchecked.png",
          "hoverImageChecked" : "/interface/chests/fontredcheckedhover.png"
        },
        {
          "id" : 3,
          "position" : [223, 198],
          "pressedOffset" : [0, 0],
          "baseImage" : "/interface/chests/fontorange.png",
          "hoverImage" : "/interface/chests/fontorangehover.png",
          "baseImageChecked" : "/interface/chests/fontorangechecked.png",
          "hoverImageChecked" : "/interface/chests/fontorangecheckedhover.png"
        },
        {
          "id" : 4,
          "position" : [235, 198],
          "pressedOffset" : [0, 0],
          "baseImage" : "/interface/chests/fontgreen.png",
          "hoverImage" : "/interface/chests/fontgreenhover.png",
          "baseImageChecked" : "/interface/chests/fontgreenchecked.png",
          "hoverImageChecked" : "/interface/chests/fontgreencheckedhover.png"
        },
        {
          "id" : 5,
          "position" : [247, 198],
          "pressedOffset" : [0, 0],
          "baseImage" : "/interface/chests/fontblue.png",
          "hoverImage" : "/interface/chests/fontbluehover.png",
          "baseImageChecked" : "/interface/chests/fontbluechecked.png",
          "hoverImageChecked" : "/interface/chests/fontbluecheckedhover.png"
        },
        {
          "id" : 6,
          "position" : [259, 198],
          "pressedOffset" : [0, 0],
          "baseImage" : "/interface/chests/fontpink.png",
          "hoverImage" : "/interface/chests/fontpinkhover.png",
          "baseImageChecked" : "/interface/chests/fontpinkchecked.png",
          "hoverImageChecked" : "/interface/chests/fontpinkcheckedhover.png"
        }
      ]
    },
    "optionsOption2Label" : {
      "type" : "label",
      "value" : "+ Color:",
      "hAnchor" : "left",
      "position" : [124, 167],
      "visible" : false,
      "zlevel" : 11
    },
    "interfaceColorsBorder" : {
      "type" : "image",
      "file" : "/interface/chests/interfacecolorsborder.png",
      "position" : [197, 166],
      "visible" : false,
      "zlevel" : 11
    },
    "interfaceColors" : {
      "type" : "radioGroup",
      "toggleMode" : false,
      "visible" : false,
      "zlevel" : 12,
      "buttons" : [
        {
          "id" : 1,
          "position" : [198, 166],
          "pressedOffset" : [0, 0],
          "baseImage" : "/interface/chests/interfacered.png",
          "baseImageChecked" : "/interface/chests/interfaceredchecked.png"
        },
        {
          "id" : 2,
          "position" : [205, 166],
          "pressedOffset" : [0, 0],
          "baseImage" : "/interface/chests/interfaceorange.png",
          "baseImageChecked" : "/interface/chests/interfaceorangechecked.png"
        },
        {
          "id" : 3,
          "position" : [212, 166],
          "pressedOffset" : [0, 0],
          "baseImage" : "/interface/chests/interfaceyellow.png",
          "baseImageChecked" : "/interface/chests/interfaceyellowchecked.png"
        },
        {
          "id" : 4,
          "selected" : true,
          "position" : [219, 166],
          "pressedOffset" : [0, 0],
          "baseImage" : "/interface/chests/interfacegreen.png",
          "baseImageChecked" : "/interface/chests/interfacegreenchecked.png"
        },
        {
          "id" : 5,
          "position" : [226, 166],
          "pressedOffset" : [0, 0],
          "baseImage" : "/interface/chests/interfacemint.png",
          "baseImageChecked" : "/interface/chests/interfacemintchecked.png"
        },
        {
          "id" : 6,
          "position" : [233, 166],
          "pressedOffset" : [0, 0],
          "baseImage" : "/interface/chests/interfacecyan.png",
          "baseImageChecked" : "/interface/chests/interfacecyanchecked.png"
        },
        {
          "id" : 7,
          "position" : [240, 166],
          "pressedOffset" : [0, 0],
          "baseImage" : "/interface/chests/interfaceblue.png",
          "baseImageChecked" : "/interface/chests/interfacebluechecked.png"
        },
        {
          "id" : 8,
          "position" : [247, 166],
          "pressedOffset" : [0, 0],
          "baseImage" : "/interface/chests/interfacedarkblue.png",
          "baseImageChecked" : "/interface/chests/interfacedarkbluechecked.png"
        },
        {
          "id" : 9,
          "position" : [254, 166],
          "pressedOffset" : [0, 0],
          "baseImage" : "/interface/chests/interfacepurple.png",
          "baseImageChecked" : "/interface/chests/interfacepurplechecked.png"
        },
        {
          "id" : 10,
          "position" : [261, 166],
          "pressedOffset" : [0, 0],
          "baseImage" : "/interface/chests/interfacepink.png",
          "baseImageChecked" : "/interface/chests/interfacepinkchecked.png"
        }
      ]
    },
    "optionsOption3Label" : {
      "type" : "label",
      "value" : "+ Smashing keeps items:",
      "hAnchor" : "left",
      "position" : [124, 132],
      "visible" : false,
      "zlevel" : 11
    },
    "keepContent" : {
      "type" : "button",
      "base" : "/interface/crafting/checkboxnocheck.png",
      "baseImageChecked" : "/interface/crafting/checkboxcheck.png",
      "hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
      "hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",	  
      "checkable" : true,
      "checked" : true,
      "position" : [261, 132],
      "callback" : "null",
      "visible" : false,
      "zlevel" : 11
    }
  },
  "scriptWidgetCallbacks" : [
    "transferInventoryItems",
    "sortContainerCallback",
    "renameContainer",
    "renameContainerAbort",
    "fontColors",
    "optionsButton",
    "optionsSave",
    "optionsReset",
    "interfaceColors",
    "searchAbort",
    "searchEnter",
    "searchCallback",
    "sortoptionsdirection",
    "sortoptionsbyname",
    "sortoptionsbytype",
    "sortoptionsbyrarity",
    "sortoptionsbyvalue"						
  ],
  "scripts" : [
    "/scripts/enhancedstoragegui.lua"
  ],
  "scriptDelta" : 20
}