{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/scripted/weaponupgrade/header.png",
      "fileBody" : "/interface/scripted/weaponupgrade/body.png",
      "fileFooter" : "/interface/scripted/weaponupgrade/footer.png"
    },

    "windowtitle" : {
      "type" : "title",
      "title" : "Weapon Upgrade Anvil",
      "subtitle" : "Upgrade your weapons here!",
      "icon" : {
        "type" : "image",
        "file" : "/interface/scripted/weaponupgrade/weaponupgradeicon.png"
      }
    },

    "itemScrollArea" : {
      "type" : "scrollArea",
      "rect" : [6, 58, 177, 272],
      "children" : {
        "itemList" : {
          "type" : "list",
          "callback" : "itemSelected",
          "schema" : {
            "selectedBG" : "/interface/scripted/weaponupgrade/listitemselected.png",
            "unselectedBG" : "/interface/scripted/weaponupgrade/listitem.png",
            "spacing" : [0, 1],
            "memberSize" : [160, 20],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/scripted/weaponupgrade/listitem.png",
                "position" : [2, 0],
                "zlevel" : -1
              },
              "itemName" : {
                "type" : "label",
                "position" : [25, 5],
                "hAnchor" : "left",
                "fontSize" : 7,
                "wrapWidth" : 116,
                "value" : "Replace Me"
              },
              "itemIcon" : {
                "type" : "itemslot",
                "position" : [3, 1],
                "callback" : "null"
              },
              "unavailableoverlay" : {
                "type" : "image",
                "file" : "/interface/scripted/weaponupgrade/unavailableoverlay.png",
                "position" : [2, 0],
                "zlevel" : 1
              }
            }
          }
        }
      }
    },

    "essenceCostDescription" : {
      "type" : "label",
      "position" : [68, 35],
      "hAnchor" : "mid",
      "vAnchor" : "bottom",
      "color" : "cyan",
	  "fontSize" : 7,
      "value" : "REQUIRED ESSENCE"
    },
    "essenceCost" : {
      "type" : "label",
      "position" : [68, 28],
      "hAnchor" : "mid",
      "vAnchor" : "bottom",
	  "fontSize" : 7,
      "value" : "0 / --"
    },

    "btnUpgrade" : {
      "type" : "button",
      "position" : [112, 27],
      "base" : "/interface/scripted/weaponupgrade/upgrade2Ready.png",
      "hover" : "/interface/scripted/weaponupgrade/upgrade2ReadyHover.png",
      "disabledImage" : "/interface/scripted/weaponupgrade/upgrade2Unready.png",
      "callback" : "doUpgrade"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [164, 286]
    },

    "emptyLabel" : {
      "type" : "label",
      "position" : [89, 160],
      "hAnchor" : "mid",
      "value" : "You don't have any weapons that can be upgraded!",
      "wrapWidth" : 125,
      "color" : [185, 181, 178]
    }
  },

  "scriptWidgetCallbacks" : [
    "itemSelected",
    "doUpgrade"
  ],

  "scripts" : ["/interface/scripted/weaponupgrade/weaponupgradegui.lua"],
  "scriptDelta" : 30,

  "upgradeLevel" : 6
}
