{

  "noCategoryFilters" : false,
  "filter" : [ ],
  "titleFromEntity" : true,
  "requiresBlueprint" : false,
  "craftingSound" : "/sfx/interface/crafting_containercraftingstation.ogg",
  "paneLayout" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/crafting/big_crafting_no_sidebar/header.png",
      "fileBody" : "/interface/crafting/big_crafting_no_sidebar/body.png",
      "fileFooter" : "/interface/crafting/big_crafting_no_sidebar/footer.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "press" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [349, 321]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "^orange;Storage Matrix^white;",
      "subtitle" : "Reshapes Storage Matter",
      "position" : [-5, 252],
      "icon" : {
        "type" : "image",
        "file" : "/interface/crafting/containercraftingstation.png",
        "position" : [0, -20],
        "zlevel" : -1
      }
    },
    "spinCount" : {
      "type" : "spinner",
      "position" : [251, 28],
      "upOffset" : 36
    },
    "tbSpinCount" : {
      "type" : "textbox",
      "position" : [263, 28],
      "textAlign" : "center",
      "maxWidth" : 16,
      "regex" : "x?\\d{0,4}",
      "hint" : ""
    },
    "lblAmountInput" : {
      "type" : "image",
      "file" : "/interface/crafting/amount.png",
      "position" : [257, 27],
      "zlevel" : -3
    },
    "btnCraft" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "position" : [302, 26],
      "caption" : "Craft"
    },
    "btnStopCraft" : {
      "type" : "button",
      "base" : "/interface/buttonactive.png",
      "hover" : "/interface/buttonactivehover.png",
      "position" : [302, 26],
      "caption" : "Stop"
    },
    "imgCraftBg" : {
      "type" : "image",
      "file" : "/interface/crafting/bp_craftbg.png",
      "position" : [224, 21],
      "zlevel" : -5
    },
    "currentRecipeIcon" : {
      "type" : "itemslot",
      "callback" : "null",
      "position" : [227, 24]
    },
    "btnFilterHaveMaterials" : {
      "type" : "button",
      "base" : "/interface/crafting/bc_checkbox/bc_checkboxnocheck.png",
      "baseImageChecked" : "/interface/crafting/bc_checkbox/bc_checkboxcheck.png",
      "hover" : "/interface/crafting/bc_checkbox/bc_checkboxnocheckhover.png",
      "hoverImageChecked" : "/interface/crafting/bc_checkbox/bc_checkboxcheckhover.png",
	  "pressedOffset" : [0, 0],																	
      "checkable" : true,
      "checked" : false,
      "position" : [7, 9]
    },
    "lblProduct" : {
      "type" : "label",
      "position" : [20, 9],
      "hAnchor" : "left",
	  "color" : "gray",
      "value" : "MATERIALS AVAILABLE"
    },
    "description" : {
      "type" : "widget",
      "position" : [216, 48],
      "size" : [140, 320]
    },
    "filter" : {
      "type" : "textbox",
      "position" : [236, 299],
      "hint" : "Search",
      "maxWidth" : 118,
      "escapeKey" : "close",
      "enterKey" : "filter",
      "focus" : false
    },

    "scrollArea" : {
      "type" : "scrollArea",
      "rect" : [31, 25, 221, 310],
      "children" : {
        "itemList" : {
          "type" : "list",
          "schema" : {
            "selectedBG" : "/interface/crafting/bp_craftableselected2.png",
            "unselectedBG" : "/interface/crafting/bp_craftablebackground.png",
            "spacing" : [0, 1],
            "memberSize" : [180, 20],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/crafting/bp_craftablebackground.png",
                "position" : [2, 0],
                "zlevel" : -1
              },
              "itemName" : {
                "type" : "label",
                "position" : [25, 5],
                "hAnchor" : "left",
                "wrapWidth" : 145,
                "value" : "Replace Me"
              },
              "itemIcon" : {
                "type" : "itemslot",
                "position" : [3, 1],
                "callback" : "null"
              },
              "newIcon" : {
                "type" : "image",
                "position" : [140, 5],
                "file" : "/interface/crafting/new.png",
                "zlevel" : 2
              },
              "moneyIcon" : {
                "type" : "image",
                "position" : [160, 5],
                "file" : "/interface/money2.png"
              },
              "priceLabel" : {
                "type" : "label",
                "position" : [160, 5],
                "hAnchor" : "right",
                "value" : "0"
              },
              "notcraftableoverlay" : {
                "type" : "image",
                "file" : "/interface/crafting/bp_notcraftableoverlay.png",
                "position" : [2, 0],
                "zlevel" : 1
              }
            }
          }
        }
      }
    },
    "lbl24slotsTab" : {
      "type" : "image",
      "file" : "/interface/crafting/tabicon_24slots.png",
      "position" : [9, 288],
      "zlevel" : 3
    },
    "lbl32slotsTab" : {
      "type" : "image",
      "file" : "/interface/crafting/tabicon_32slots.png",
      "position" : [9, 270],
      "zlevel" : 3
    },
    "lbl40slotsTab" : {
      "type" : "image",
      "file" : "/interface/crafting/tabicon_40slots.png",
      "position" : [9, 252],
      "zlevel" : 3
    },
    "lbl48slotsTab" : {
      "type" : "image",
      "file" : "/interface/crafting/tabicon_48slots.png",
      "position" : [9, 234],
      "zlevel" : 3
    },
    "lbl56slotsTab" : {
      "type" : "image",
      "file" : "/interface/crafting/tabicon_56slots.png",
      "position" : [9, 216],
      "zlevel" : 3
    },
    "lbl64slotsTab" : {
      "type" : "image",
      "file" : "/interface/crafting/tabicon_64slots.png",
      "position" : [9, 198],
      "zlevel" : 3
    },
    "lbl72slotsTab" : {
      "type" : "image",
      "file" : "/interface/crafting/tabicon_72slots.png",
      "position" : [9, 180],
      "zlevel" : 3
    },


    "lbl80slotsTab" : {
      "type" : "image",
      "file" : "/interface/crafting/tabicon_80slots.png",
      "position" : [9, 162],
      "zlevel" : 3
    },
    "lbl90slotsTab" : {
      "type" : "image",
      "file" : "/interface/crafting/tabicon_90slots.png",
      "position" : [9, 144],
      "zlevel" : 3
    },
    "lbl100slotsTab" : {
      "type" : "image",
      "file" : "/interface/crafting/tabicon_100slots.png",
      "position" : [6, 126],
      "zlevel" : 3
    },
    "lbl110slotsTab" : {
      "type" : "image",
      "file" : "/interface/crafting/tabicon_110slots.png",
      "position" : [6, 108],
      "zlevel" : 3
    },
    "lbl120slotsTab" : {
      "type" : "image",
      "file" : "/interface/crafting/tabicon_120slots.png",
      "position" : [6, 90],
      "zlevel" : 3
    },
    "lbl160slotsTab" : {
      "type" : "image",
      "file" : "/interface/crafting/tabicon_160slots.png",
      "position" : [6, 72],
      "zlevel" : 3
    },
    "lbl300slotsTab" : {
      "type" : "image",
      "file" : "/interface/crafting/tabicon_300slots.png",
      "position" : [6, 54],
      "zlevel" : 3
    },
    "categories" : {
      "type" : "radioGroup",
      "toggleMode" : true,
      "buttons" : [
        {
          "position" : [7, 289],
		  "pressedOffset" : [1, 0],
          "baseImage" : "/interface/crafting/containercraftingstation_unselectedTab2.png",
          "baseImageChecked" : "/interface/crafting/containercraftingstation_selectedTab2.png",
          "data" : {
            "filter" : [ "containercraftingstation_24slots" ]
          }
        },
        {
          "position" : [7, 271],
		  "pressedOffset" : [1, 0],										   
          "baseImage" : "/interface/crafting/containercraftingstation_unselectedTab2.png",
          "baseImageChecked" : "/interface/crafting/containercraftingstation_selectedTab2.png",
          "data" : {
            "filter" : [ "containercraftingstation_32slots" ]
          }
        },
        {
          "position" : [7, 253],
		  "pressedOffset" : [1, 0],										   
          "baseImage" : "/interface/crafting/containercraftingstation_unselectedTab2.png",
          "baseImageChecked" : "/interface/crafting/containercraftingstation_selectedTab2.png",
          "data" : {
            "filter" : [ "containercraftingstation_40slots" ]
          }
        },
        {
          "position" : [7, 235],
		  "pressedOffset" : [1, 0],										   
          "baseImage" : "/interface/crafting/containercraftingstation_unselectedTab2.png",
          "baseImageChecked" : "/interface/crafting/containercraftingstation_selectedTab2.png",
          "data" : {
            "filter" : [ "containercraftingstation_48slots" ]
          }
        },
        {
          "position" : [7, 217],
		  "pressedOffset" : [1, 0],										   
          "baseImage" : "/interface/crafting/containercraftingstation_unselectedTab2.png",
          "baseImageChecked" : "/interface/crafting/containercraftingstation_selectedTab2.png",
          "data" : {
            "filter" : [ "containercraftingstation_56slots" ]
          }
        },
        {
          "position" : [7, 199],
		  "pressedOffset" : [1, 0],										   
          "baseImage" : "/interface/crafting/containercraftingstation_unselectedTab2.png",
          "baseImageChecked" : "/interface/crafting/containercraftingstation_selectedTab2.png",
          "data" : {
            "filter" : [ "containercraftingstation_64slots" ]
          }
        },
        {
          "position" : [7, 181],
		  "pressedOffset" : [1, 0],										   
          "baseImage" : "/interface/crafting/containercraftingstation_unselectedTab2.png",
          "baseImageChecked" : "/interface/crafting/containercraftingstation_selectedTab2.png",
          "data" : {
            "filter" : [ "containercraftingstation_72slots" ]
          }
        },


        {
          "position" : [7, 163],
		  "pressedOffset" : [1, 0],										   
          "baseImage" : "/interface/crafting/containercraftingstation_unselectedTab2.png",
          "baseImageChecked" : "/interface/crafting/containercraftingstation_selectedTab2.png",
          "data" : {
            "filter" : [ "containercraftingstation_80slots" ]
          }
        },
        {
          "position" : [7, 145],
		  "pressedOffset" : [1, 0],								 
          "baseImage" : "/interface/crafting/containercraftingstation_unselectedTab2.png",
          "baseImageChecked" : "/interface/crafting/containercraftingstation_selectedTab2.png",
          "data" : {
            "filter" : [ "containercraftingstation_90slots" ]
          }
        },
        {
          "position" : [7, 127],
		  "pressedOffset" : [1, 0],								 
          "baseImage" : "/interface/crafting/containercraftingstation_unselectedTab2.png",
          "baseImageChecked" : "/interface/crafting/containercraftingstation_selectedTab2.png",
          "data" : {
            "filter" : [ "containercraftingstation_100slots" ]
          }
        },
        {
          "position" : [7, 109],
		  "pressedOffset" : [1, 0],								 
          "baseImage" : "/interface/crafting/containercraftingstation_unselectedTab2.png",
          "baseImageChecked" : "/interface/crafting/containercraftingstation_selectedTab2.png",
          "data" : {
            "filter" : [ "containercraftingstation_110slots" ]
          }
        },
        {
          "position" : [7, 91],
		  "pressedOffset" : [1, 0],								 
          "baseImage" : "/interface/crafting/containercraftingstation_unselectedTab2.png",
          "baseImageChecked" : "/interface/crafting/containercraftingstation_selectedTab2.png",
          "data" : {
            "filter" : [ "containercraftingstation_120slots" ]
          }
        },
        {
          "position" : [7, 73],
          "baseImage" : "/interface/crafting/containercraftingstation_unselectedTab2.png",
          "baseImageChecked" : "/interface/crafting/containercraftingstation_selectedTab2.png",
          "data" : {
            "filter" : [ "containercraftingstation_160slots" ]
          }
        },
        {
          "position" : [7, 55],
          "baseImage" : "/interface/crafting/containercraftingstation_unselectedTab2.png",
          "baseImageChecked" : "/interface/crafting/containercraftingstation_selectedTab2.png",
          "data" : {
            "filter" : [ "containercraftingstation_300slots" ]
          }
        }
      ]
    },
    "rarities" : {
      "type" : "radioGroup",
      "toggleMode" : true,
      "buttons" : [
      ]
    }
  }
}
