 {
  "filter" : [ ],
  "titleFromEntity" : true,
  "requiresBlueprint" : true,
  "craftingSound" : "/sfx/interface/crafting_general1.ogg",
  "paneLayout" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/crafting/big_crafting_no_sidebar/header.png",
      "fileBody" : "/interface/crafting/big_crafting_no_sidebar/body.png",
      "fileFooter" : "/interface/crafting/big_crafting_no_sidebar/footer.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [349, 321]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "Wooden Workbench",
      "subtitle" : "Objects and Blocks",
      "position" : [-5, 252],
      "icon" : {
        "type" : "image",
        "file" : "/interface/crafting/craftingfurniture.png",
        "position" : [0, -20],
        "zlevel" : -1
      }
    },
    "btnUpgrade" : {
      "type" : "button",
      "disabledImage" : "/interface/crafting/upgradeUnready.png",
      "base" : "/interface/crafting/upgradeReady.png",
	  "hover" : "/interface/crafting/upgradeReadyHover.png",
      "position" : [151, 318],
      "zlevel" : 5
    },
    "spinCount" : {
      "type" : "spinner",
      "position" : [252, 29],
      "upOffset" : 36
    },
    "tbSpinCount" : {
      "type" : "textbox",
      "position" : [264, 29],
      "textAlign" : "center",
      "maxWidth" : 16,
      "regex" : "x?\\d{0,4}",
      "hint" : ""
    },
    "imgAmountInput" : {
      "type" : "image",
      "file" : "/interface/crafting/amount.png",
      "position" : [258, 28],
      "zlevel" : -3
    },
    "btnCraft" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "position" : [300, 26],
      "caption" : "Craft"
    },
    "btnStopCraft" : {
      "type" : "button",
      "base" : "/interface/buttonactive.png",
      "hover" : "/interface/buttonactivehover.png",
      "position" : [300, 26],
      "caption" : "Stop"
    },
    "imgCraftBg" : {
      "type" : "image",
      "file" : "/interface/crafting/bp_craftbg.png",
      "position" : [223, 21],
      "zlevel" : -5
    },
    "currentRecipeIcon" : {
      "type" : "itemslot",
      "callback" : "null",
      "position" : [227, 24]
    },
    "btnFilterHaveMaterials" : {
      "type" : "button",
      "base" : "/interface/crafting/bc_checkbox/bc_checkboxnocheck.png",
      "baseImageChecked" : "/interface/crafting/bc_checkbox/bc_checkboxcheck.png",
      "hover" : "/interface/crafting/bc_checkbox/bc_checkboxnocheckhover.png",
      "hoverImageChecked" : "/interface/crafting/bc_checkbox/bc_checkboxcheckhover.png",
      "pressedOffset" : [0, 0],
      "checkable" : true,
      "checked" : false,
      "position" : [7, 9]
    },
    "lblProduct" : {
      "type" : "label",
      "position" : [20, 9],
      "hAnchor" : "left",
      "value" : "MATERIALS AVAILABLE"
    },
    "description" : {
      "type" : "widget",
      "position" : [216, 48],
      "size" : [140, 320]
    },
    "filter" : {
      "type" : "textbox",
      "position" : [236, 299],
      "hint" : "Search",
      "maxWidth" : 118,
      "escapeKey" : "close",
      "enterKey" : "filter",
      "focus" : false
    },					 
    "scrollArea" : {
      "type" : "scrollArea",
      "rect" : [31, 28, 221, 307],
      "children" : {
        "itemList" : {
          "type" : "list",
          "schema" : {
            "selectedBG" : "/interface/crafting/bp_craftableselected2.png",
            "unselectedBG" : "/interface/crafting/bp_craftablebackground.png",
            "spacing" : [0, 1],
            "memberSize" : [180, 20],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/crafting/bp_craftablebackground.png",
                "position" : [2, 0],
                "zlevel" : -1
              },
              "itemName" : {
                "type" : "label",
                "position" : [25, 5],
                "hAnchor" : "left",
                "wrapWidth" : 145,
                "value" : "Replace Me"
              },
              "itemIcon" : {
                "type" : "itemslot",
                "position" : [3, 1],
                "callback" : "null"
              },
              "newIcon" : {
                "type" : "image",
                "position" : [140, 5],
                "file" : "/interface/crafting/new.png",
                "zlevel" : 2
              },
              "moneyIcon" : {
                "type" : "image",
                "position" : [160, 5],
                "file" : "/interface/money2.png"
              },
              "priceLabel" : {
                "type" : "label",
                "position" : [160, 5],
                "hAnchor" : "right",
                "value" : "0"
              },
              "notcraftableoverlay" : {
                "type" : "image",
                "file" : "/interface/crafting/bp_notcraftableoverlay.png",
                "position" : [2, 0],
                "zlevel" : 1
              }
            }
          }
        }
      }
    },

    "categories" : {
      "type" : "radioGroup",
      "toggleMode" : false,
      "buttons" : [
        {
          "selected" : true,
          "position" : [7, 288],
		  "pressedOffset" : [1, 0],		  
          "baseImage" : "/interface/crafting/buttons/craftingfurniture/bi_1.png",
          "baseImageChecked" : "/interface/crafting/buttons/craftingfurniture/bic_1.png",
		  "hoverImage" : "/interface/crafting/buttons/craftingfurniture/hi_1.png",
          "hoverImageChecked" : "/interface/crafting/buttons/craftingfurniture/hic_1.png",		  
          "data" : {
            "filter" : [ "doors" ]
          }
        },
        {
          "position" : [7, 270],
		  "pressedOffset" : [1, 0],		  
          "baseImage" : "/interface/crafting/buttons/craftingfurniture/bi_2.png",
          "baseImageChecked" : "/interface/crafting/buttons/craftingfurniture/bic_2.png",
		  "hoverImage" : "/interface/crafting/buttons/craftingfurniture/hi_2.png",
          "hoverImageChecked" : "/interface/crafting/buttons/craftingfurniture/hic_2.png",
          "data" : {
            "filter" : [ "lights" ]
          }
        },
        {
          "position" : [7, 252],
		  "pressedOffset" : [1, 0],		  
          "baseImage" : "/interface/crafting/buttons/craftingfurniture/bi_3.png",
          "baseImageChecked" : "/interface/crafting/buttons/craftingfurniture/bic_3.png",
		  "hoverImage" : "/interface/crafting/buttons/craftingfurniture/hi_3.png",
          "hoverImageChecked" : "/interface/crafting/buttons/craftingfurniture/hic_3.png",
          "data" : {
            "filter" : [ "beds" ]
          }
        },
        {
          "position" : [7, 234],
		  "pressedOffset" : [1, 0],		  
          "baseImage" : "/interface/crafting/buttons/craftingfurniture/bi_4.png",
          "baseImageChecked" : "/interface/crafting/buttons/craftingfurniture/bic_4.png",
		  "hoverImage" : "/interface/crafting/buttons/craftingfurniture/hi_4.png",
          "hoverImageChecked" : "/interface/crafting/buttons/craftingfurniture/hic_4.png",
          "data" : {
            "filter" : [ "decoration" ]
          }
        },
        {
          "position" : [7, 216],
		  "pressedOffset" : [1, 0],		  
          "baseImage" : "/interface/crafting/buttons/craftingfurniture/bi_5.png",
          "baseImageChecked" : "/interface/crafting/buttons/craftingfurniture/bic_5.png",
		  "hoverImage" : "/interface/crafting/buttons/craftingfurniture/hi_5.png",
          "hoverImageChecked" : "/interface/crafting/buttons/craftingfurniture/hic_5.png", 
          "data" : {
            "filter" : [ "storage" ]
          }
        },
        {
          "position" : [7, 198],
		  "pressedOffset" : [1, 0],		  
          "baseImage" : "/interface/crafting/buttons/craftingfurniture/bi_6.png",
          "baseImageChecked" : "/interface/crafting/buttons/craftingfurniture/bic_6.png",
		  "hoverImage" : "/interface/crafting/buttons/craftingfurniture/hi_6.png",
          "hoverImageChecked" : "/interface/crafting/buttons/craftingfurniture/hic_6.png",
          "data" : {
            "filter" : [ "materials" ]
          }
        }
      ]
    },
    "rarities" : {
      "type" : "radioGroup",
      "toggleMode" : true,
      "buttons" : [
	  	{
          "position" : [7, 29],
		  "pressedOffset" : [1, 0],
          "baseImage" : "/interface/crafting/sort/bp_sort_common.png",
          "baseImageChecked" : "/interface/crafting/sort/bp_sort_common_selected.png",
		  "hoverImage" : "/interface/crafting/sort/bp_sort_common_hover.png",
          "hoverImageChecked" : "/interface/crafting/sort/bp_sort_common_hover_checked.png",			  
          "data" : {
            "rarity" : [ "common" ]
          }
        },
        {
          "position" : [7, 43],
		  "pressedOffset" : [1, 0],
          "baseImage" : "/interface/crafting/sort/bp_sort_uncommon.png",
          "baseImageChecked" : "/interface/crafting/sort/bp_sort_uncommon_selected.png",
		  "hoverImage" : "/interface/crafting/sort/bp_sort_uncommon_hover.png",
          "hoverImageChecked" : "/interface/crafting/sort/bp_sort_uncommon_hover_checked.png",	
          "data" : {
            "rarity" : [ "uncommon" ]
          }
        },
        {
          "position" : [7, 57],
		  "pressedOffset" : [1, 0],
          "baseImage" : "/interface/crafting/sort/bp_sort_rare.png",
          "baseImageChecked" : "/interface/crafting/sort/bp_sort_rare_selected.png",
		  "hoverImage" : "/interface/crafting/sort/bp_sort_rare_hover.png",
          "hoverImageChecked" : "/interface/crafting/sort/bp_sort_rare_hover_checked.png",	
          "data" : {
            "rarity" : [ "rare" ]
          }
        },
        {
          "position" : [7, 71],
		  "pressedOffset" : [1, 0],
          "baseImage" : "/interface/crafting/sort/bp_sort_legendary.png",
          "baseImageChecked" : "/interface/crafting/sort/bp_sort_legendary_selected.png",
		  "hoverImage" : "/interface/crafting/sort/bp_sort_legendary_hover.png",
          "hoverImageChecked" : "/interface/crafting/sort/bp_sort_legendary_hover_checked.png",	
          "data" : {
            "rarity" : [ "legendary" ]
          }
        }
      ]
    }
  }
}
