{
  "filter" : ["terraforge"],
  "titleFromEntity" : false,
  "requiresBlueprint" : false,
  "paneLayout" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/crafting/craftingheader.png",
      "fileBody" : "/interface/crafting/big_crafting_no_tabs/craftingbody.png",
      "fileFooter" : "/interface/crafting/craftingfooter.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [324, 321]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "Terraforge",
      "subtitle" : "Create terraformers for transforming entire planets!",
      "position" : [-5, 252],
      "icon" : {
        "type" : "image",
        "file" : "/interface/crafting/craftingicon.png",
        "position" : [0, -20],
        "zlevel" : -1
      }
    },


    "btnCraft" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "position" : [274, 26],
      "caption" : "Forge"
    },

    "description" : {
      "type" : "widget",
      "position" : [191, 48],
      "size" : [140, 320]
    },

    "scrollArea" : {
      "type" : "scrollArea",
      "rect" : [8, 28, 196, 307],
      "children" : {
        "itemList" : {
          "type" : "list",
          "schema" : {
            "selectedBG" : "/interface/crafting/bp_craftableselected2.png",
            "unselectedBG" : "/interface/crafting/bp_craftablebackground.png",
            "spacing" : [0, 1],
            "memberSize" : [180, 20],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/crafting/bp_craftablebackground.png",
                "position" : [2, 0],
                "zlevel" : -1
              },
              "itemName" : {
                "type" : "label",
                "position" : [25, 6],
                "hAnchor" : "left",
                "fontSize" : 7,
                "wrapWidth" : 145,
                "value" : "Replace Me"
              },
              "itemIcon" : {
                "type" : "itemslot",
                "position" : [3, 1],
                "callback" : "null"
              },
              "newIcon" : {
                "type" : "image",
                "position" : [140, 5],
                "file" : "/interface/crafting/new.png",
                "zlevel" : 2
              },
              "moneyIcon" : {
                "type" : "image",
                "position" : [160, 6],
                "file" : "/interface/money2.png"
              },
              "priceLabel" : {
                "type" : "label",
                "position" : [160, 6],
                "hAnchor" : "right",
                "fontSize" : 7,
                "value" : "0"
              },
              "notcraftableoverlay" : {
                "type" : "image",
                "file" : "/interface/crafting/bp_notcraftableoverlay.png",
                "position" : [2, 0],
                "zlevel" : 1
              }
            }
          }
        }
      }
    }
  }
}
