{
  "requiresBlueprint" : true,
  "craftingSound" : "/sfx/interface/crafting_hands.ogg",

  "paneLayout" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/crafting/craftingheader.png",
      "fileBody" : "/interface/crafting/big_crafting_no_tabs/craftingbody.png",
      "fileFooter" : "/interface/crafting/craftingfooter.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [324, 321]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "Basic Crafting",
      "subtitle" : "^#b9b5b2;Just you, your ingredients and your hands ^green;[C]",
      "position" : [-5, 252],
      "icon" : {
        "type" : "image",
        "file" : "/interface/crafting/craftingicon.png",
        "position" : [0, -20],
        "zlevel" : -1
      }
    },
    "spinCount" : {
      "type" : "spinner",
      "position" : [226, 28],
      "upOffset" : 36
    },
    "tbSpinCount" : {
      "type" : "textbox",
      "position" : [238, 28],
      "textAlign" : "center",
      "maxWidth" : 16,
      "regex" : "x?\\d{0,4}",
      "hint" : ""
    },
    "imgAmountInput" : {
      "type" : "image",
      "file" : "/interface/crafting/amount.png",
      "position" : [232, 27],
      "zlevel" : -3
    },
    "btnCraft" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "position" : [277, 26],
      "caption" : "Craft"
    },
    "btnStopCraft" : {
      "type" : "button",
      "base" : "/interface/buttonactive.png",
      "hover" : "/interface/buttonactivehover.png",
      "position" : [277, 26],
      "caption" : "Stop"
    },
    "imgCraftBg" : {
      "type" : "image",
      "file" : "/interface/crafting/bp_craftbg.png",
      "position" : [199, 21],
      "zlevel" : -5
    },
    "currentRecipeIcon" : {
      "type" : "itemslot",
      "callback" : "null",
      "position" : [202, 24]
    },
    "btnFilterHaveMaterials" : {
      "type" : "button",
      "base" : "/interface/crafting/bc_checkbox/bc_checkboxnocheck.png",
      "baseImageChecked" : "/interface/crafting/bc_checkbox/bc_checkboxcheck.png",
      "hover" : "/interface/crafting/bc_checkbox/bc_checkboxnocheckhover.png",
      "hoverImageChecked" : "/interface/crafting/bc_checkbox/bc_checkboxcheckhover.png",
      "pressedOffset" : [0, 0],
      "checkable" : true,
      "checked" : false,
      "position" : [7, 9]
    },
    "lblProduct" : {
      "type" : "label",
      "position" : [20, 9],
      "hAnchor" : "left",
	  "color" : "gray",
      "value" : "MATERIALS AVAILABLE"
    },
    "description" : {
      "type" : "widget",
      "position" : [191, 48],
      "size" : [140, 320]
    },
    "filter" : {
      "type" : "textbox",
      "position" : [212, 299],
      "hint" : "Search",
      "maxWidth" : 118,
      "escapeKey" : "close",
      "enterKey" : "filter",
      "focus" : false
    },
    "scrollArea" : {
      "type" : "scrollArea",
      "rect" : [7, 25, 196, 310],
      "children" : {
        "itemList" : {
          "type" : "list",
          "schema" : {
            "selectedBG" : "/interface/crafting/bp_craftableselected2.png",
            "unselectedBG" : "/interface/crafting/bp_craftablebackground.png",
            "spacing" : [0, 1],
            "memberSize" : [180, 20],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/crafting/bp_craftablebackground.png",
                "position" : [2, 0],
                "zlevel" : -1
              },
              "itemName" : {
                "type" : "label",
                "position" : [25, 6],
                "hAnchor" : "left",
                "fontSize" : 7,
                "wrapWidth" : 145,
                "value" : "Replace Me"
              },
              "itemIcon" : {
                "type" : "itemslot",
                "position" : [3, 1],
                "callback" : "null"
              },
              "newIcon" : {
                "type" : "image",
                "position" : [140, 5],
                "file" : "/interface/crafting/new.png",
                "zlevel" : 2
              },
              "moneyIcon" : {
                "type" : "image",
                "position" : [160, 5],
                "file" : "/interface/money2.png"
              },
              "priceLabel" : {
                "type" : "label",
                "position" : [160, 5],
                "hAnchor" : "right",
                "value" : "0"
              },
              "notcraftableoverlay" : {
                "type" : "image",
                "file" : "/interface/crafting/bp_notcraftableoverlay.png",
                "position" : [2, 0],
                "zlevel" : 1
              }
            }
          }
        }
      }
    },

    "categories" : {
      "type" : "radioGroup",
      "toggleMode" : true,
      "buttons" : [
      ]
    },
    "rarities" : {
      "type" : "radioGroup",
      "toggleMode" : true,
      "buttons" : [
      ]
    }
  }
}
