{
  "background" : {
    "type" : "background",
    "fileHeader" : "/interface/title/delete/header.png",
    "fileBody" : "/interface/title/delete/body.png",
    "fileFooter" : "/interface/title/delete/footer.png"
  },

  "areYouSure" : {
    "type" : "label",
    "position" : [102, 41],
    "hAnchor" : "mid",
    "value" : "^gray;Are you sure you want\nto delete this character?",
	"fontSize" : 7
  },

  "delete" : {
    "type" : "button",
    "caption" : "Delete",
    "base" : "/interface/title/delete/delete.png",
    "down" : "/interface/title/delete/deleteDown.png",
    "position" : [22, 23],
    "pressedOffset" : [0, -1]
  },

  "cancel" : {
    "type" : "button",
    "caption" : "Cancel",
    "base" : "/interface/title/delete/cancel.png",
    "down" : "/interface/title/delete/cancelDown.png",
    "position" : [108, 23],
    "pressedOffset" : [0, -1]
  }
}
