{
  "paneLayout" : {
    "panefeature" : {
      "type" : "panefeature"
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/bookmarks/edit/header.png",
      "fileBody" : "/interface/bookmarks/edit/body.png",
      "fileFooter" : "/interface/bookmarks/edit/footer.png"
    },
    "ok" : {
      "type" : "button",
      "base" : "/interface/bookmarks/edit/buttonup.png",
      "hover" : "/interface/bookmarks/edit/buttonover.png",
      "position" : [111, 24],
      "caption" : "Accept"
    },
    "remove" : {
      "type" : "button",
      "base" : "/interface/bookmarks/edit/redbuttonup.png",
      "hover" : "/interface/bookmarks/edit/redbuttonover.png",
      "position" : [60, 24],
      "caption" : "Delete"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/bookmarks/edit/buttonup.png",
      "hover" : "/interface/bookmarks/edit/buttonover.png",
      "position" : [9, 24],
      "caption" : "Cancel"
    },
    "lblTitle" : {
      "type" : "label",
      "position" : [83, 84],
      "hAnchor" : "mid",
      "vAnchor" : "bottom",
      "centered" : true,
      "fontSize" : 16,
      "value" : "New Bookmark"
    },
    "imgIcon" : {
      "type" : "image",
      "position" : [13, 61],
      "file" : "/interface/bookmarks/icons/barren.png"
    },
    "lblPlanetName" : {
      "type" : "label",
      "position" : [33, 73],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "value" : ""
    },
    "name" : {
      "type" : "textbox",
      "position" : [21, 46],
      "hint" : "Enter bookmark name",
      "enterKey" : "ok",
      "escapeKey" : "close",
      "maxWidth" : 134,
      "regex" : "[a-zA-Z0-9 '-?!.]{0,28}"
    }
  }
}
