{
  "paneLayout" : {
    "panefeature" : {
      "type" : "panefeature",
      "offset" : [-203, 0],
      "positionLocked" : true
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/graphicsmenu/header.png",
      "fileBody" : "/interface/graphicsmenu/body.png",
      "fileFooter" : "/interface/graphicsmenu/footer.png"
    },

    "title" : {
      "type" : "label",
      "position" : [103, 144],
      "hAnchor" : "mid",
      "value" : "GRAPHICS",
	  "fontSize" : 9	  
    },

    "resLabel" : {
      "type" : "label",
      "position" : [30, 131],
      "value" : "^gray;FULLSCREEN RESOLUTION",
	  "fontSize" : 7	  
    },	
    "resValueLabel" : {
      "type" : "label",
      "position" : [71, 109],
      "hAnchor" : "mid",
      "value" : "Replace Me",
	  "fontSize" : 7	  
    },	
    "resSlider" : {
      "type" : "slider",
      "position" : [13, 118],
      "gridImage" : "/interface/optionsmenu/largeselection.png"
    },
	
    "zoomLabel" : {
      "type" : "label",
      "position" : [144, 131],
      "value" : "^gray;ZOOM LEVEL",
	  "fontSize" : 7	  
    },
    "zoomValueLabel" : {
      "type" : "label",
      "position" : [163, 109],
      "hAnchor" : "mid",
      "value" : "Replace Me",
	  "fontSize" : 7
    },
    "zoomSlider" : {
      "type" : "slider",
      "position" : [132, 118],
      "gridImage" : "/interface/optionsmenu/smallselection.png"
    },
	
    "fullscreenLabel" : {
      "type" : "label",
      "position" : [32, 96],
      "hAnchor" : "left",
      "vAnchor" : "bottom",		  
      "value" : "^gray;FULLSCREEN",
	  "fontSize" : 7	  
    },
    "fullscreenCheckbox" : {
      "type" : "button",
      "pressedOffset" : [0, 0],
      "position" : [15, 95],
      "base" : "/interface/optionsmenu/checkboxnocheck.png",
      "hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
      "baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
      "hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
      "checkable" : true,
      "checked" : false
    },
	
    "borderlessLabel" : {
      "type" : "label",
      "position" : [32, 86],
      "hAnchor" : "left",
      "vAnchor" : "bottom",		  
      "value" : "^gray;BORDERLESS WINDOW",
	  "fontSize" : 7	  
    },
    "borderlessCheckbox" : {
      "type" : "button",
      "pressedOffset" : [0, 0],
      "position" : [15, 85],
      "base" : "/interface/optionsmenu/checkboxnocheck.png",
      "hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
      "baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
      "hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
      "checkable" : true,
      "checked" : false
    },
	
    "monochromeLabel" : {
      "type" : "label",
      "position" : [32, 76],
      "hAnchor" : "left",
      "vAnchor" : "bottom",	  
      "value" : "^gray;MONOCHROME LIGHTS",
	  "fontSize" : 7	  
    },
    "monochromeCheckbox" : {
      "type" : "button",
      "pressedOffset" : [0, 0],
      "position" : [15, 75],
      "base" : "/interface/optionsmenu/checkboxnocheck.png",
      "hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
      "baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
      "hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
      "checkable" : true,
      "checked" : false
    },
	
    "interactiveHighlightLabel" : {
      "type" : "label",
      "position" : [32, 66],
      "hAnchor" : "left",
      "vAnchor" : "bottom",	  
      "value" : "^gray;TARGET HIGHLIGHT",
	  "fontSize" : 7	  
    },
    "interactiveHighlightCheckbox" : {
      "type" : "button",
      "pressedOffset" : [0, 0],
      "position" : [15, 65],
      "base" : "/interface/optionsmenu/checkboxnocheck.png",
      "hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
      "baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
      "hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
      "checkable" : true,
      "checked" : true
    },
	
    "speechBubbleLabel" : {
      "type" : "label",
      "position" : [32, 56],
      "hAnchor" : "left",
      "vAnchor" : "bottom",	  
      "value" : "^gray;SPEECH BUBBLES",
	  "fontSize" : 7	  
    },
    "speechBubbleCheckbox" : {
      "type" : "button",
      "pressedOffset" : [0, 0],
      "position" : [15, 55],
      "base" : "/interface/optionsmenu/checkboxnocheck.png",
      "hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
      "baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
      "hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
      "checkable" : true,
      "checked" : true
    },
	
    "textureLimitLabel" : {
      "type" : "label",
      "position" : [130, 81],
      "hAnchor" : "left",
      "vAnchor" : "bottom",	  
      "value" : "^gray;TEXTURE LIMIT",
	  "fontSize" : 7	  
    },
    "textureLimitCheckbox" : {
      "type" : "button",
      "pressedOffset" : [0, 0],
      "position" : [113, 80],
      "base" : "/interface/optionsmenu/checkboxnocheck.png",
      "hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
      "baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
      "hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
      "checkable" : true,
      "checked" : true
    },
	
    "multiTextureLabel" : {
      "type" : "label",
      "position" : [130, 71],
      "hAnchor" : "left",
      "vAnchor" : "bottom",		  
      "value" : "^gray;MULTI TEXTURING",
	  "fontSize" : 7	  
    },
    "multiTextureCheckbox" : {
      "type" : "button",
      "pressedOffset" : [0, 0],
      "position" : [113, 70],
      "base" : "/interface/optionsmenu/checkboxnocheck.png",
      "hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
      "baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
      "hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
      "checkable" : true,
      "checked" : true
    },
	
    "accept" : {
      "type" : "button",
      "position" : [119, 26],
      "caption" : "Apply",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png"
    },
    "cancel" : {
      "type" : "button",
      "position" : [35, 26],
      "caption" : "Cancel",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png"
    }	
  },

  "resolutionList" : [
    [832, 624],
    [960, 640],
    [960, 720],
    [1024, 640],
    [1024, 600],
    [1024, 768],
    [1024, 800],
    [1024, 1024],
    [1120, 832],
    [1136, 640],
    [1152, 720],
    [1152, 768],
    [1152, 864],
    [1152, 900],
    [1280, 720],
    [1280, 768],
    [1280, 800],
    [1280, 854],
    [1280, 960],
    [1280, 1024],
    [1366, 768],
    [1440, 900],
    [1440, 960],
    [1400, 1050],
    [1440, 1024],
    [1440, 1080],
    [1600, 768],
    [1600, 900],
    [1600, 1024],
    [1680, 1050],
    [1600, 1200],
    [1920, 1080],
    [1920, 1200],
    [2560, 1440]
  ],

  "zoomList" : [
    1,
	2,
    3,
    4
  ]
}
