{
  "filter" : [ "letheiacrafting" ],
  "requiresBlueprint" : false,
  "printer" : false,
  "disableTimer" : true,
  "craftingSound" : "/sfx/interface/crafting_general1.ogg",

  "paneLayout" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/letheia/letheiacraftingheader.png",
      "fileBody" : "/interface/letheia/letheiacraftingbody.png",
      "fileFooter" : "/interface/letheia/letheiacraftingfooter.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [349, 321]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "Letheia Catalog",
      "subtitle" : "^#b9b5b2;Letheia brand goods",
      "position" : [-5, 252],
      "icon" : {
        "type" : "image",
        "file" : "/interface/crafting/letheia.png",
        "position" : [0, -20],
        "zlevel" : -1
      }
    },
    "bgShine" : {
      "type" : "image",
      "file" : "/interface/crafting/shine.png",
      "position" : [-15, 0],
      "zlevel" : -10
    },
    "spinCount" : {
      "type" : "spinner",
      "position" : [251, 28],
      "upOffset" : 36
    },
    "tbSpinCount" : {
      "type" : "textbox",
      "position" : [263, 28],
      "textAlign" : "center",
      "maxWidth" : 16,
      "regex" : "x?\\d{0,4}",
      "hint" : ""
    },
    "imgAmountInput" : {
      "type" : "image",
      "file" : "/interface/crafting/amount.png",
      "position" : [257, 27],
      "zlevel" : -3
    },
    "btnCraft" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "position" : [302, 26],
      "caption" : "Buy"
    },
    "btnStopCraft" : {
      "type" : "button",
      "base" : "/interface/buttonactive.png",
      "hover" : "/interface/buttonactivehover.png",
      "position" : [302, 26],
      "caption" : "Stop"
    },
    "imgCraftBg" : {
      "type" : "image",
      "file" : "/interface/crafting/bp_craftbg.png",
      "position" : [224, 21],
      "zlevel" : -5
    },
    "currentRecipeIcon" : {
      "type" : "itemslot",
      "callback" : "null",
      "position" : [227, 24]
    },
    "btnFilterHaveMaterials" : {
      "type" : "button",
      "base" : "/interface/crafting/bc_checkbox/bc_checkboxnocheck.png",
      "baseImageChecked" : "/interface/crafting/bc_checkbox/bc_checkboxcheck.png",
      "hover" : "/interface/crafting/bc_checkbox/bc_checkboxnocheckhover.png",
      "hoverImageChecked" : "/interface/crafting/bc_checkbox/bc_checkboxcheckhover.png",
      "pressedOffset" : [0, 0],
      "checkable" : true,
      "checked" : false,
      "position" : [70, 10]
    },
    "lblProduct" : {
      "type" : "label",
      "position" : [83, 11],
      "hAnchor" : "left",
	  "fontSize" : 7,
      "value" : "PIXELS AVAILABLE"
    },
    "imgPlayerMoneyIcon" : {
      "type" : "image",
      "position" : [9, 11],
      "file" : "/interface/money.png"
    },
    "lblPlayerMoney" : {
      "type" : "label",
      "position" : [23, 11],
      "hAnchor" : "left",
	  "fontSize" : 7,
      "value" : "0"
    },
	
    "description" : {
      "type" : "widget",
      "position" : [216, 48],
      "size" : [140, 320]
    },
    "filter" : {
      "type" : "textbox",
      "position" : [237, 300],
      "hint" : "Search",
      "maxWidth" : 118,
      "escapeKey" : "close",
      "enterKey" : "filter",
      "focus" : false
    },
    "scrollArea" : {
      "type" : "scrollArea",
      "rect" : [31, 27, 221, 308],
      "children" : {
        "itemList" : {
          "type" : "list",
          "schema" : {
            "selectedBG" : "/interface/crafting/bp_craftableselected2.png",
            "unselectedBG" : "/interface/crafting/bp_craftablebackground.png",
            "spacing" : [0, 1],
            "memberSize" : [180, 20],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/crafting/bp_craftablebackground.png",
                "position" : [2, 0],
                "zlevel" : -1
              },
              "itemName" : {
                "type" : "label",
                "position" : [25, 6],
                "hAnchor" : "left",
                "wrapWidth" : 145,
				"fontSize" : 7,
                "value" : "Replace Me"
              },
              "itemIcon" : {
                "type" : "itemslot",
                "position" : [3, 1],
                "callback" : "null"
              },
              "newIcon" : {
                "type" : "image",
                "position" : [140, 5],
                "file" : "/interface/crafting/new.png",
                "zlevel" : 2
              },
              "moneyIcon" : {
                "type" : "image",
                "position" : [160, 6],
                "file" : "/interface/money2.png"
              },
              "priceLabel" : {
                "type" : "label",
                "position" : [160, 6],
                "hAnchor" : "right",
				"fontSize" : 7,
                "value" : "0"
              },
              "notcraftableoverlay" : {
                "type" : "image",
                "file" : "/interface/crafting/bp_notcraftableoverlay.png",
                "position" : [2, 0],
                "zlevel" : 1
              }
            }
          }
        }
      }
    },
	
    "categories" : {
      "type" : "radioGroup",
      "toggleMode" : false,
      "buttons" : [
        {
          "selected" : true,
          "position" : [7, 287],
		  "pressedOffset" : [1, 0],
          "baseImage" : "/interface/crafting/buttons/letheiaobjectsexpanded/bi_1.png",
          "baseImageChecked" : "/interface/crafting/buttons/letheiaobjectsexpanded/bic_1.png",
          "data" : {
            "filter" : [ "letheiafurniture" ]
          }
        },
        {
          "position" : [7, 264],
		  "pressedOffset" : [1, 0],
          "baseImage" : "/interface/crafting/buttons/letheiaobjectsexpanded/bi_2.png",
          "baseImageChecked" : "/interface/crafting/buttons/letheiaobjectsexpanded/bic_2.png",
          "data" : {
            "filter" : [ "letheialights" ]
          }
        },
        {
          "position" : [7, 241],
		  "pressedOffset" : [1, 0],
          "baseImage" : "/interface/crafting/buttons/letheiaobjectsexpanded/bi_3.png",
          "baseImageChecked" : "/interface/crafting/buttons/letheiaobjectsexpanded/bic_3.png",
          "data" : {
            "filter" : [ "letheiadecorative" ]
          }
        },
        {
          "position" : [7, 218],
		  "pressedOffset" : [1, 0],
          "baseImage" : "/interface/crafting/buttons/letheiaobjectsexpanded/bi_4.png",
          "baseImageChecked" : "/interface/crafting/buttons/letheiaobjectsexpanded/bic_4.png",
          "data" : {
            "filter" : [ "letheiastorage" ]
          }
        },
        {
          "position" : [7, 195],
		  "pressedOffset" : [1, 0],
          "baseImage" : "/interface/crafting/buttons/letheiaobjectsexpanded/bi_5.png",
          "baseImageChecked" : "/interface/crafting/buttons/letheiaobjectsexpanded/bic_5.png",
          "data" : {
            "filter" : [ "letheiamaterials" ]
          }
        },
        {
          "position" : [7, 172],
		  "pressedOffset" : [1, 0],
          "baseImage" : "/interface/crafting/buttons/letheiaobjectsexpanded/bi_6.png",
          "baseImageChecked" : "/interface/crafting/buttons/letheiaobjectsexpanded/bic_6.png",
          "data" : {
            "filter" : [ "letheiacraftingstations" ]
          }
        }
      ]
    },
    "rarities" : {
      "type" : "radioGroup",
      "toggleMode" : true,
      "buttons" : [
      ]
    }
  }
}
