{
  "trashBurnTimeout" : 1.0,
  "subtitle" : "^#b9b5b2;Your inventory and equipment ^green;[I]",

  "sounds" : {
    "pickup" : [
      "/sfx/interface/inventory_pickup1.ogg"
    ],
    "putdown" : [
      "/sfx/interface/inventory_putdown1.ogg"
    ]
  },

  "defaultPetNameLabel" : "^#b9b5b2;MINION",

  "bagConfig" : {
    "mainBag" : {
      "order" : 1,
      "tabButtonData" : "showMainGrid",
      "itemGrid" : "mainItemGrid",
      "newItemMarker" : "newGeneralItems"
    },
    "materialBag" : {
      "order" : 2,
      "tabButtonData" : "showTileGrid",
      "itemGrid" : "tileItemGrid",
      "newItemMarker" : "newTileItems"
    },
    "objectBag" : {
      "order" : 3,
      "tabButtonData" : "showObjectGrid",
      "itemGrid" : "objectItemGrid",
      "newItemMarker" : "newObjectItems"
    },
    "reagentBag" : {
      "order" : 4,
      "tabButtonData" : "showReagentGrid",
      "itemGrid" : "reagentItemGrid",
      "newItemMarker" : "newReagentItems"
    },
    "foodBag" : {
      "order" : 5,
      "tabButtonData" : "showFoodGrid",
      "itemGrid" : "foodItemGrid",
      "newItemMarker" : "newFoodItems"
    }
  },

  "paneLayout" : {
    "panefeature" : {
      "type" : "panefeature"  
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/inventory/inventoryheader.png",
      "fileBody" : "/interface/inventory/inventorybody.png",
      "fileFooter" : "/interface/inventory/inventoryfooter.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [194, 257]
    },
    "sort" : {
      "type" : "button",
      "base" : "/interface/inventory/sort.png",
      "hover" : "/interface/inventory/sorthover.png",
      "press" : "/interface/inventory/sortpress.png",
      "position" : [190, 7]
    },
    "imgMoneyIcon" : {
      "type" : "image",
      "position" : [9, 10],
      "centered" : false,
      "file" : "/interface/inventory/money.png"
    },
    "lblMoney" : {
      "type" : "label",
      "position" : [21, 9],
      "value" : "0"
    },
    "imgEssenceIcon" : {
      "type" : "image",
      "position" : [83, 9],
      "centered" : false,
      "file" : "/interface/inventory/essenceicon.png"
    },
    "lblEssence" : {
      "type" : "label",
      "position" : [98, 9],
      "value" : "0"
    },
    "bgShine" : {
      "type" : "image",
      "file" : "/interface/inventory/shine.png",
      "position" : [3, -4],
      "zlevel" : -10
    },
    "newGeneralItems" : {
      "type" : "image",
      "file" : "/interface/inventory/dot.png",
      "position" : [16, 117]
    },
    "newTileItems" : {
      "type" : "image",
      "file" : "/interface/inventory/dot.png",
      "position" : [43, 117]
    },
    "newObjectItems" : {
      "type" : "image",
      "file" : "/interface/inventory/dot.png",
      "position" : [70, 117]
    },
    "newReagentItems" : {
      "type" : "image",
      "file" : "/interface/inventory/dot.png",
      "position" : [97, 117]
    },
    "newFoodItems" : {
      "type" : "image",
      "file" : "/interface/inventory/dot.png",
      "position" : [124, 117]
    },
    "gridModeSelector" : {
      "type" : "radioGroup",
      "position" : [8, 109],

      "buttons" : [
        {
          "id" : 0,
          "baseImage" : "/interface/inventory/bigbag.png:pressed",
          "baseImageChecked" : "/interface/inventory/bigbag.png:baseChecked",
		  "hoverImage" : "/interface/inventory/bigbag.png:base",
          "hoverImageChecked" : "/interface/inventory/bigbag.png:base",		  
          "position" : [7, 0],
          "data" : "showMainGrid",
          "selected" : true,
          "pressedOffset" : [0,0]
        },
        {
          "baseImage" : "/interface/inventory/bigcart.png:pressed",
          "baseImageChecked" : "/interface/inventory/bigcart.png:baseChecked",
		  "hoverImage" : "/interface/inventory/bigcart.png:base",
          "hoverImageChecked" : "/interface/inventory/bigcart.png:base",				  
          "position" : [34, 0],
          "data" : "showTileGrid",
          "pressedOffset" : [0,0]
        },
        {
          "baseImage" : "/interface/inventory/bigobj.png:pressed",
          "baseImageChecked" : "/interface/inventory/bigobj.png:baseChecked",
		  "hoverImage" : "/interface/inventory/bigobj.png:base",
          "hoverImageChecked" : "/interface/inventory/bigobj.png:base",			  
          "position" : [61, 0],
          "data" : "showObjectGrid",
          "pressedOffset" : [0,0]
        },
        {
          "baseImage" : "/interface/inventory/bigrea.png:pressed",
          "baseImageChecked" : "/interface/inventory/bigrea.png:baseChecked",
		  "hoverImage" : "/interface/inventory/bigrea.png:base",
          "hoverImageChecked" : "/interface/inventory/bigrea.png:base",			  
          "position" : [88, 0],
          "data" : "showReagentGrid",
          "pressedOffset" : [0,0]
        },
        {
          "baseImage" : "/interface/inventory/bigfood.png:pressed",
          "baseImageChecked" : "/interface/inventory/bigfood.png:baseChecked",
		  "hoverImage" : "/interface/inventory/bigfood.png:base",
          "hoverImageChecked" : "/interface/inventory/bigfood.png:base",		  
          "position" : [115, 0],
          "data" : "showFoodGrid",
          "pressedOffset" : [0,0]
        }
      ]
    },
    "portrait" : {
      "type" : "portrait",
      "position" : [63.5, 211.5],
      "scale" : 1.0
    },
    "mainItemGrid" : {
      "type" : "itemgrid",
      "position" : [12, 27],
      "dimensions" : [10, 4],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "tileItemGrid" : {
      "type" : "itemgrid",
      "position" : [12, 27],
      "dimensions" : [10, 4],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "objectItemGrid" : {
      "type" : "itemgrid",
      "position" : [12, 27],
      "dimensions" : [10, 4],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "reagentItemGrid" : {
      "type" : "itemgrid",
      "position" : [12, 27],
      "dimensions" : [10, 4],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "foodItemGrid" : {
      "type" : "itemgrid",
      "position" : [12, 27],
      "dimensions" : [10, 4],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "head" : {
      "type" : "itemslot",
      "position" : [96, 218],
      "backingImage" : "/interface/inventory/backingimagehead.png",
      "data" : {
        "tooltipText" : "Head Armour"
      }
    },
    "chest" : {
      "type" : "itemslot",
      "position" : [96, 198],
      "backingImage" : "/interface/inventory/backingimagechest.png",
      "data" : {
        "tooltipText" : "Chest Armour"
      }
    },
    "legs" : {
      "type" : "itemslot",
      "position" : [96, 178],
      "backingImage" : "/interface/inventory/backingimagelegs.png",
      "data" : {
        "tooltipText" : "Leg Armour"
      }
    },
    "back" : {
      "type" : "itemslot",
      "position" : [11, 208],
      "backingImage" : "/interface/inventory/backingimageback.png",
      "data" : {
        "tooltipText" : "Back Armour"
      }
    },
    "headCosmetic" : {
      "type" : "itemslot",
      "position" : [116, 218],
      "backingImage" : "/interface/inventory/backingimagesocial.png",
      "data" : {
        "tooltipText" : "Head Cosmetic"
      }
    },
    "chestCosmetic" : {
      "type" : "itemslot",
      "position" : [116, 198],
      "backingImage" : "/interface/inventory/backingimagesocial.png",
      "data" : {
        "tooltipText" : "Chest Cosmetic"
      }
    },
    "legsCosmetic" : {
      "type" : "itemslot",
      "position" : [116, 178],
      "backingImage" : "/interface/inventory/backingimagesocial.png",
      "data" : {
        "tooltipText" : "Leg Cosmetic"
      }
    },
    "backCosmetic" : {
      "type" : "itemslot",
      "position" : [11, 188],
      "backingImage" : "/interface/inventory/backingimagesocial.png",
      "data" : {
        "tooltipText" : "Back Cosmetic"
      }
    },
    "techHead" : {
      "type" : "image",
      "position" : [128, 153],
      "centered" : true
    },
    "techHeadDisabled" : {
      "type" : "image",
      "file" : "/interface/inventory/techdisabled.png",
      "position" : [119, 144],
      "zlevel" : 2
    },
    "techBody" : {
      "type" : "image",
      "position" : [158, 153],
      "centered" : true
    },
    "techBodyDisabled" : {
      "type" : "image",
      "file" : "/interface/inventory/techdisabled.png",
      "position" : [149, 144],
      "zlevel" : 2
    },
    "techLegs" : {
      "type" : "image",
      "position" : [188, 153],
      "centered" : true
    },
    "techLegsDisabled" : {
      "type" : "image",
      "file" : "/interface/inventory/techdisabled.png",
      "position" : [179, 144],
      "zlevel" : 2
    },
    "companionSlot" : {
      "type" : "image",
      "centered" : true,
      "file" : "",
      "position" : [91, 153],
      "maxSize" : [30, 30],
      "minSize" : [20, 20]
    },
    "companionHealthBar" : {
      "type" : "progress",
      "position" : [29, 142],
      "background" : "/interface/inventory/monsterhealthempty.png",
      "progressSet" : {
        "inner" : "/interface/inventory/monsterhealth.png",
        "type" : "repeat"
      },
      "direction" : "horizontal"
    },
    "companionAttackStat" : {
      "type" : "label",
      "position" : [70, 159],
      "hAnchor" : "right",
      "fontSize" : 7,
      "value" : "42"
    },
    "companionDefenseStat" : {
      "type" : "label",
      "position" : [70, 150],
      "hAnchor" : "right",
      "fontSize" : 7,
      "value" : "42"
    },
    "labelappearance" : {
      "type" : "label",
      "position" : [14, 159],
      "hAnchor" : "left",
      "value" : "Attack",
	  "fontSize" : 7,
      "color" : [185, 181, 178]
    },
    "labelstats" : {
      "type" : "label",
      "position" : [14, 150],
      "hAnchor" : "left",
      "value" : "Defence",
	  "fontSize" : 7,
      "color" : [185, 181, 178]
    },
    "labeltech" : {
      "type" : "label",
      "position" : [14, 141],
      "hAnchor" : "left",
      "value" : "HP",
	  "fontSize" : 7,
      "color" : [185, 181, 178]
    },	
    "healthtext" : {
      "type" : "label",
      "position" : [191, 231],
      "hAnchor" : "right",
      "fontSize" : 7,	  
      "value" : "set at runtime",
      "color" : [255, 255, 255]
    },
    "energytext" : {
      "type" : "label",
      "position" : [191, 214],
      "hAnchor" : "right",
      "fontSize" : 7,	  
      "value" : "set at runtime",
      "color" : [255, 255, 255]
    },
    "defensetext" : {
      "type" : "label",
      "position" : [191, 180],
      "hAnchor" : "right",
      "fontSize" : 7,	  
      "value" : "--",
      "color" : [255, 255, 255]
    },
    "weapontext" : {
      "type" : "label",
      "position" : [196, 197],
      "hAnchor" : "right",
      "fontSize" : 7,	  
      "value" : "set at runtime",
      "color" : [255, 255, 255]
    },
    "trash" : {
      "type" : "itemslot",
      "position" : [173, 111],
      "backingImage" : "/interface/inventory/backingimagetrash.png",
      "data" : {
        "tooltipText" : "Trash"
      }
    },
    "companionName" : {
      "type" : "label",
      "position" : [103, 128],
      "hAnchor" : "right",
      "value" : "",
	  "fontSize" : 7,
      "color" : [185, 181, 178]
    }
  }
}
