{
  "paneLayout" : {
    "panefeature" : {
      "type" : "panefeature"
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/songbook/header.png",
      "fileBody" : "/interface/songbook/body_blank.png",
      "fileFooter" : "/interface/songbook/footer.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [188, 321]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "Songbook Library",
      "subtitle" : "^#b9b5b2;All your music in one space",
      "position" : [0, 254],
      "icon" : {
        "type" : "image",
        "file" : "/interface/songbook/iconSongbook.png",
        "position" : [0, 0],
        "zlevel" : -1
      }
    },

    "songs" : {
      "type" : "scrollArea",
      "rect" : [7, 69, 201, 307],
      "children" : {
        "list" : {
          "type" : "list",
          "schema" : {
            "selectedBG" : "/interface/songbook/songselected.png",
            "unselectedBG" : "/interface/songbook/songbackground.png",
            "spacing" : [0, 1],
            "memberSize" : [185, 9],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/songbook/songbackground.png",
                "position" : [1, 0],
                "zlevel" : -1
              },
              "songName" : {
                "type" : "label",
                "position" : [2, 0],
                "hAnchor" : "left",
                "width" : 138,
				"color" : "gray",
				"fontSize" : 7,
                "value" : "Replace Me"
              }
            }
          }
        }
      }
    },
    "group" : {
      "type" : "textbox",
      "position" : [34, 26],
      "hint" : "Band name",
      "maxWidth" : 50
    },
    "lblBand" : {
      "type" : "label",
      "position" : [103, 42],
      "hAnchor" : "mid",
      "value" : "Enter the same band name as other\n players to play music in unison",
      "color" : [127, 127, 127]
    },
    "lblBandInput" : {
      "type" : "image",
      "file" : "/interface/songbook/band.png",
      "position" : [29, 23],
      "zlevel" : -3
    },
    "btnPlay" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "position" : [130, 24],
      "caption" : "Play"
    }
  }
}
