{
  "sfxDelta" : 5,
  "musicDelta" : 5,
  "paneLayout" : {
    "panefeature" : {
      "type" : "panefeature"
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/optionsmenu/header.png",
      "fileBody" : "/interface/optionsmenu/body_blank.png",
      "fileFooter" : "/interface/optionsmenu/footer.png"
    },
    "volumeLabel" : {
      "type" : "label",
      "position" : [103, 144],
      "hAnchor" : "mid",
      "value" : "VOLUME",
	  "fontSize" : 9	  
    },
    "sfxLabel" : {
      "type" : "label",
      "position" : [22, 131],
      "value" : "^gray;SFX",
	  "fontSize" : 7	  
    },
    "sfxValueLabel" : {
      "type" : "label",
      "position" : [182, 131],
      "hAnchor" : "mid",
      "value" : "0",
      "fontSize" : 7	  
    },
    "musicLabel" : {
      "type" : "label",
      "position" : [22, 117],
      "value" : "^gray;Music",
	  "fontSize" : 7	  
    },
    "musicValueLabel" : {
      "type" : "label",
      "position" : [182, 117],
      "hAnchor" : "mid",	  
      "value" : "0",
      "fontSize" : 7	  
    },
    "allowAssetsMismatchLabel" : {
      "type" : "label",
      "position" : [32, 79],
      "hAnchor" : "left",
      "vAnchor" : "bottom",
      "value" : "^gray;ALLOW ASSETS MISMATCH",
	  "fontSize" : 7	  
    },
    "allowAssetsMismatchCheckbox" : {
      "type" : "button",
      "pressedOffset" : [0, 0],
      "position" : [15, 78],
      "base" : "/interface/optionsmenu/checkboxnocheck.png",
      "hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
      "baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
      "hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
      "checkable" : true,
      "checked" : true
    },
    "tutorialMessagesLabel" : {
      "type" : "label",
      "position" : [32, 69],
      "hAnchor" : "left",
      "vAnchor" : "bottom",	  
      "value" : "^gray;TUTORIAL MESSAGES",
	  "fontSize" : 7	  
    },
    "tutorialMessagesCheckbox" : {
      "type" : "button",
      "pressedOffset" : [0, 0],
      "position" : [15, 68],
      "base" : "/interface/optionsmenu/checkboxnocheck.png",
      "hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
      "baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
      "hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
      "checkable" : true,
      "checked" : true
    },
    "clientP2PJoinableLabel" : {
      "type" : "label",
      "position" : [32, 59],
      "hAnchor" : "left",
      "vAnchor" : "bottom",
      "value" : "^gray;MULTIPLAYER VIA STEAM / DISCORD",
      "fontSize" : 7	  
    },
    "clientP2PJoinableCheckbox" : {
      "type" : "button",
      "pressedOffset" : [0, 0],
      "position" : [15, 58],
      "base" : "/interface/optionsmenu/checkboxnocheck.png",
      "hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
      "baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
      "hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
      "checkable" : true,
      "checked" : true
    },	
    "clientIPJoinableLabel" : {
      "type" : "label",
      "position" : [32, 49],
      "hAnchor" : "left",
      "vAnchor" : "bottom",	  
      "value" : "^gray;CONNECT VIA IP",
	  "fontSize" : 7	  
    },
    "clientIPJoinableCheckbox" : {
      "type" : "button",
      "pressedOffset" : [0, 0],
      "position" : [15, 48],
      "base" : "/interface/optionsmenu/checkboxnocheck.png",
      "hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
      "baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
      "hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
      "checkable" : true,
      "checked" : true
    },
    "backButton" : {
      "type" : "button",
      "position" : [35, 26],
      "caption" : "Back",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png"
    },
    "acceptButton" : {
      "type" : "button",
      "position" : [119, 26],
      "caption" : "Accept",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png"
    },
    "sfxSlider" : {
      "type" : "slider",
      "position" : [53, 129],
      "gridImage" : "/interface/optionsmenu/largeselection.png"
    },
    "musicSlider" : {
      "type" : "slider",
      "position" : [53, 115],
      "gridImage" : "/interface/optionsmenu/largeselection.png"
    },
    "showKeybindings" : {
      "type" : "button",
      "position" : [119, 95],
      "caption" : "Controls",
      "base" : "/interface/optionsmenu/controlsbutton.png",
      "hover" : "/interface/optionsmenu/controlsbuttonhover.png"
    },
    "showGraphics" : {
      "type" : "button",
      "position" : [16, 95],
      "caption" : "Graphics",
      "base" : "/interface/optionsmenu/controlsbutton.png",
      "hover" : "/interface/optionsmenu/controlsbuttonhover.png"
    }
  }
}
