{
  "panefeature" : {
    "type" : "panefeature"
  },
  "background" : {
    "type" : "imageStretch",
    "zlevel" : 0,
    "size" : [133, 31], // Height of itemList is added to this height
    "direction" : "vertical",
    "stretchSet" : {
      "end" : "/interface/craftingtooltip/header.png",
      "inner" : "/interface/craftingtooltip/body.png",
      "begin" : "/interface/craftingtooltip/footer.png"
    }
  },
  "title" : {
    "type" : "label",
    "position" : [66, 25], // Height of itemList is added to this y position
    "hAnchor" : "mid",
    "vAnchor" : "top",
    "wrapWidth" : 116,
	"color" : "gray",
    "value" : "INGREDIENTS"
  },
  "itemList" : {
    "unselectedBg" : "/interface/craftingtooltip/listitem.png",
    "selectedBg" : "/interface/craftingtooltip/listitem.png",
    "position" : [3, 14],
    "type" : "list",
    "schema" : {
      "spacing" : [0, -2],
      "memberSize" : [125, 25],
      "listTemplate" : {
        "background" : {
          "type" : "image",
          "file" : "/interface/craftingtooltip/listitem.png",
          "position" : [3, 5],
          "zlevel" : -1
        },
        "itemName" : {
          "type" : "label",
          "position" : [27, 15],
          "hAnchor" : "left",
          "vAnchor" : "mid",
          "wrapWidth" : 66,
          "lineSpacing" : 1.0,
          "value" : "0",
		  "fontSize" : 7
        },
        "itemIcon" : {
          "type" : "itemslot",
          "position" : [4, 6],
          "callback" : "null"
        },
        "count" : {
          "type" : "label",
          "position" : [117, 12],
          "hAnchor" : "right",
          "value" : "19/99",
		  "fontSize" : 7
        }
      }
    }
  }
}