{
  "craftingSound" : "/sfx/interface/crafting_furnace.ogg",
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/objectcrafting/campfire_header.png",
      "fileBody" : "/interface/objectcrafting/campfire_body.png",
      "fileFooter" : "/interface/objectcrafting/campfire_footer.png"
    },
    "toggleCrafting" : {
      "type" : "button",
      "position" : [45, 22],
      "base" : "/interface/objectcrafting/refine.png",
      "hover" : "/interface/objectcrafting/refineover.png",
      "caption" : "Refine"
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [45, 39],
      "dimensions" : [1, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [126, 91]
    },
    "lblText" : {
      "type" : "label",
      "position" : [73, 62],
      "hAnchor" : "mid",
      "wrapWidth" : 125,
      "value" : "^#b9b5b2;Place ore in the left slot to refine into pixels."
      },
    "outputItemGrid" : {
      "type" : "itemgrid",
      "slotOffset" : 1,
      "position" : [81, 39],
      "dimensions" : [1, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    }
  }
}
